@media screen and (max-width: 800px) {
    .hidden-mobile {
        visibility: hidden;
        display: none;
    }
}

.reveal .no-box {
    background: none;
    border:none;
    box-shadow:none;
}
