<mat-dialog-content>

  <div class="container mat-typography" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex="noshrink">
        <img class="img-thumbnail" [src]="'assets/public/images/products/'+data.image">
      </div>

      <div>
        <h1>{{data.name}}</h1>
        <div [innerHTML]="data.description"></div>
        <br/>
        <p>$ {{data.price}}</p>
      </div>

      <div *ngIf="data.points > 0">
        <h4 translate>LABEL_BONUS</h4>
        <span class="fa-2x fa-layers fa-fw">
          <i class="fas fa-crown"></i>
          <span class="fa-layers-counter fa-layers-bottom-left fa-lg warn-notification">{{ data.points }}</span>
        </span>
      </div>
    </div>

    <mat-divider class="detail-divider"></mat-divider>
    <div>
      <h3 translate>LABEL_REVIEWS</h3>
      <button mat-button style="height: 0; position: absolute;">
        <!-- 'absorbs' the auto-focus behavior -->
      </button>
      <div *ngFor="let review of reviews$|async" class="comment">
        <div fxLayout="row">
          <div (click)="review.author !== 'Anonymous' && review.author === author && editReview(review)"
               matTooltipDisabled="{{review.author !== author}}" matTooltip=" {{'BTN_EDIT' | translate}}"
               aria-label="Text" matTooltipPosition="right">
            <cite>{{review.author}}</cite>
            <p>{{ review.message }}</p>
          </div>
          <div>
            <button mat-icon-button (click)="likeReview(review)" [disabled]="review.liked || !isLoggedIn()" class="rw-button">
            <span class="fa-2x fa-layers fa-fw">
              <i class="fas fa-thumbs-up"></i>
              <span class="fa-layers-counter fa-layers-bottom-right accent-notification">{{ review.likesCount }}</span>
            </span>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="isLoggedIn()">

        <mat-divider class="detail-divider"></mat-divider>

        <mat-form-field appearance="outline" color="accent">
           <textarea [formControl]="reviewControl" #textPut cols="50" matInput placeholder=""
                     matTextareaAutosize matAutosizeMinRows="2"
                     matAutosizeMaxRows="4"></textarea>
        </mat-form-field>

        <button type="submit" id="submitButton" [disabled]="!textPut.value.trim()" mat-raised-button color="primary" (click)="addReview(textPut)">
          <i class="fas fa-paper-plane fa-lg"></i> {{'BTN_SUBMIT' | translate}}
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
