.img-thumbnail {
  height: auto;
  max-width: 100%;
  padding: 0;
  width: 200px;
}

mat-form-field {
  width: 100%;
}

p {
  word-break: break-all;
}

.btn-container button:nth-child(2) {
  left: 530px;
  width: 50px;
}

.detail-divider {
  margin-bottom: 12px;
  margin-top: 12px;
}

.rw-button {
  margin-left: 8px;
}

.comment {
  margin-bottom: 8px;
}

.review-link {
  font-size: 11px;
  margin-top: -10px;
  text-decoration: none;
}

#submitButton {
  float: right;
}

.item-price {
  float: left;
  margin-right: 40px;
  margin-top: 8px;
}

.noResultText {
  display: block;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dialogAction {
  margin-bottom: 0 !important;
}

.buttons {
  padding-left: 13px;
  padding-right: 13px;
}
