.img-thumbnail {
  height: auto;
  max-width: 100%;
  width: 140px;
}

mat-form-field {
  width: 100%;
}

blockquote p {
  margin-left: 5px;
}

.btn-container button:nth-child(2) {
  left: 530px;
  width: 50px;
}

.detail-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.rw-button {
  margin-left: 8px;
}

.comment{
  margin-bottom:8px;
}

.review-link {
  margin-top: -10px;
  text-decoration: none;
  font-size: 11px;
}

#submitButton {
  float: right;
}
