mat-card {
  height: auto;
  min-width: 320px;
  width: 35%;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#deleteUserButton {
  width: 60%;
  margin-left: 20%;
  margin-top: 1.2rem;
}

#dataExportButton {
  width: 60%;
  margin-left: 20%;
  margin-top: 1.2rem;
}
