<div class="score-row">
  <hacking-challenge-progress-score-card [allChallenges]="allChallenges" />
  <coding-challenge-progress-score-card [allChallenges]="allChallenges" />
  <difficulty-overview-score-card [allChallenges]="allChallenges" />
</div>

<div class="tags">
  <button class="tag selected" 
    (click)="resetCategoryFilter()"
    [ngClass]="{ selected: isAllCategoriesSelected() }"
  >All</button>
  <button class="tag" *ngFor="let category of categories; trackBy:category"
    (click)="toggleCategorySelected(category)"
    [ngClass]="{ selected: isCategorySelected(category) }"
  >
    {{ category }}
  </button>
</div>

<div class="challenges">
  <challenge-card
    *ngFor="let challenge of filteredChallenges; trackBy:getChallengeKey"
    [challenge]="challenge"
    [ngClass]="{ solved: challenge.solved, unsolved: !challenge.solved }"
  />
</div>
