:host {
  display: block;
  margin: 48px 72px;

  @media (max-width: 1200px) {
    margin: 48px 64px;
  }
  @media (max-width: 800px) {
    margin: 48px;
  }
  @media (max-width: 600px) {
    margin: 32px 16px;
  }
}

.score-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // use 3 columns on large(ish) screens
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  // use 2 columns ipads and smaller
  @media (max-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }
  // use 1 column on extra small screens
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  column-gap: 16px;
  row-gap: 8px;
  min-height: 120px;

  .score-card {
    display: grid;
    grid-template-columns: auto min-content;

    .score-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;

      padding: 16px 0 16px 16px;

      .score {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;

        color: #ffffff;

        margin-bottom: 4px;
      }
      .category {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: rgba(255, 255, 255, 0.75);
      }
    }

    .icon-group {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .difficulty-overview {
    display: grid;
    grid-template-columns: auto min-content;

    // use 2 columns ipads and smaller
    @media (max-width: 810px) {
      grid-column: span 2;
    }
    @media (max-width: 600px) {
      grid-column: span 1;
    }

    .solved-fraction-group {
      padding: 0 16px;
      display: flex;
      flex-direction: center;
      align-items: center;

      p {
        margin: 0;
      }

      .solved-fraction {
        display: flex;
        align-items: flex-end;

        .big {
          font-weight: 500;
          font-size: 36px;
          line-height: 42px;
          color: #ffffff;
        }
        .small {
          font-size: 16px;
          line-height: 26px;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .category {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: rgba(255, 255, 255, 0.75);
      }
    }

    .star-group {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 8px;
      row-gap: 2px;

      padding: 4px 8px;

      margin: 4px;
      border-radius: 4px;
      background-color: #212121;

      .star-container {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
      }
    }
  }

  > div {
    height: 100%;
    background-color: #292929;
    border-radius: 4px;
  }
}

.challenges {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  // use 3 columns on large(ish) screens
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  // use 2 columns ipads and smaller
  @media (max-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }
  // use 1 column on extra small screens
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  column-gap: 16px;
  row-gap: 12px;

  margin-top: 32px;
}
