<div class="score-row">
  <hacking-challenge-progress-score-card [allChallenges]="allChallenges" />
  <coding-challenge-progress-score-card [allChallenges]="allChallenges" />
  <difficulty-overview-score-card [allChallenges]="allChallenges" />
</div>

<filter-settings
  [filterSetting]="filterSetting"
  (filterSettingChange)="onFilterSettingUpdate($event)"
  [allChallenges]="allChallenges"
></filter-settings>

<div class="challenges">
  <challenge-card
    *ngFor="let challenge of filteredChallenges; trackBy:getChallengeKey"
    [challenge]="challenge"
    [ngClass]="{ solved: challenge.solved, unsolved: !challenge.solved }"
  />
</div>
