:host {
  display: block;
  margin: 48px 72px;

  @media (max-width: 1200px) {
    margin: 48px 64px;
  }
  @media (max-width: 800px) {
    margin: 48px;
  }
  @media (max-width: 600px) {
    margin: 32px 16px;
  }
}

.score-row {
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 120px;
  row-gap: 8px;

  // use 3 columns on large(ish) screens
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  // use 2 columns ipads and smaller
  @media (max-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }
  // use 1 column on extra small screens
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.challenges {

  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 32px;
  row-gap: 12px;

  // use 3 columns on large(ish) screens
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  // use 2 columns ipads and smaller
  @media (max-width: 810px) {
    grid-template-columns: repeat(2, 1fr);
  }
  // use 1 column on extra small screens
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 24px 0;

  .tag {
    padding: 8px 16px;
    cursor: pointer;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
    border-radius: 234234px;
    background-color: #424242;

    &.selected {
      border: 1px solid #689F38;
      background-color: rgba(104, 159, 56, 0.24);
    }
  }
}