mat-card{
    left:25%;
    margin-top:50px;
    width:35%;
    height:auto;
}

mat-form-field{
    padding-top:10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    margin-top:5px;
}
