mat-card {
  height: auto;
  min-width: 300px;
  width: 35%;
}

mat-form-field {
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

button {
  margin-top: 5px;
}
