<mat-card>

  <h3>Forgot Password</h3>

  <div class="form-container">

    <div *ngIf="confirmation && !emailControl.dirty && !securityQuestionControl.dirty && !passwordControl.dirty && !repeatPasswordControl.dirty" style="color:#5bc0de">{{ confirmation }}</div>

    <div *ngIf="error && !emailControl.dirty && !securityQuestionControl.dirty && !passwordControl.dirty && !repeatPasswordControl.dirty" style="color:red">{{ error }}</div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [formControl]="emailControl" (ngModelChange)="findSecurityQuestion()"
      type="text" matInput placeholder="Enter your email">
      <mat-error *ngIf="emailControl.invalid && emailControl.errors.required">Please provide an email address.</mat-error>
      <mat-error *ngIf="emailControl.invalid && emailControl.errors.email">Email address is not valid.</mat-error>
    </mat-form-field>

  </div>

  <div class="form-container" *ngIf="securityQuestion">

      <mat-form-field appearance="outline">
        <mat-label>{{ securityQuestion }}</mat-label>
        <input [formControl]="securityQuestionControl" type="password" matInput placeholder="">
        <mat-error *ngIf="securityQuestionControl.invalid && securityQuestionControl.errors.required">Please provide an answer to your security question.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input [formControl]="passwordControl" type="password" matInput placeholder="">
          <mat-error *ngIf="passwordControl.invalid && passwordControl.errors.required">Please provide your new password.</mat-error>
          <mat-error *ngIf="passwordControl.invalid && passwordControl.errors.minlength">Password must be 5-20 characters long.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Repeat New Password</mat-label>
          <input [formControl]="repeatPasswordControl" type="password" matInput placeholder="">
          <mat-error *ngIf="repeatPasswordControl.invalid && repeatPasswordControl.errors.required">Please repeat your password.</mat-error>
      </mat-form-field>

    </div>

  <button [disabled]="emailControl.invalid || securityQuestionControl.invalid || passwordControl.invalid || repeatPasswordControl.invalid" (click)="resetPassword()" mat-raised-button color="primary"><i class="fas fa-save fa-lg"></i> Change</button>

</mat-card>
