mat-card {
  height: auto;
  min-width: 300px;
  width: 25%;
}

mat-form-field {
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

button {
  width: 60%;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
