.table-container {
  min-width: 350px;
}

.heading {
  background: rgba(0, 0, 0, .2);
  font-size: x-large;
  justify-content: center;
  padding: 12px 20px;
}

.product {
  cursor: pointer;
}

.input-field {
  width: 80px;
}

.main-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}
