.table-container {
  min-width: 350px;
  width: 40%;
}

.heading {
  background: rgba(0,0,0,.2);
  justify-content: center;
  padding: 12px 20px;
  font-size: x-large;
}

.product {
cursor: pointer;
}

.input-field {
width: 80px;
}
