<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <h2> {{applicationName}}</h2>
  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>

  <button mat-button style="height: 0; position: absolute;">
    <!-- 'absorbs' the auto-focus behavior -->
  </button>
  <h3 mat-subheader class="side-subHeader" translate fxHide fxShow.lt-md>ACCOUNT</h3>

  <div fxHide fxShow.lt-md>
    <a mat-list-item *ngIf="!isLoggedIn()" routerLink="/login" (click)="onToggleSidenav();">
      <mat-icon>
        exit_to_app
      </mat-icon>
      <span>
        {{"TITLE_LOGIN" | translate }}
      </span>
    </a>
    <a mat-list-item *ngIf="isLoggedIn()" (click)="onToggleSidenav(); goToProfilePage();">
      <mat-icon>
        account_circle
      </mat-icon>
      <span>
        {{ (sizeOfMail > 25) ? (userEmail | slice:0:25)+ '..': userEmail}}
      </span>
    </a>
    <mat-list-item *ngIf="isLoggedIn()" (click)="showSubmenu = !showSubmenu" class="parent">
      <mat-icon>
        enhanced_encryption
      </mat-icon>
      <span>
        {{ "PRIVACY_AND_SECURITY" | translate }}
      </span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">
        expand_more
      </mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu">
      <a mat-list-item *ngIf="isLoggedIn()" routerLink="privacy-security/privacy-policy"
         (click)="onToggleSidenav(); showSubmenu = !showSubmenu">
        <span translate>TITLE_PRIVACY_POLICY</span>
      </a>
      <a mat-list-item *ngIf="isLoggedIn()" routerLink="privacy-security/two-factor-authentication"
         (click)="onToggleSidenav(); showSubmenu = !showSubmenu">
        <span translate>TITLE_TWO_FACTOR_AUTHENTICATION</span>
      </a>
      <a mat-list-item *ngIf="isLoggedIn()" routerLink="privacy-security/change-password"
         (click)="onToggleSidenav(); showSubmenu = !showSubmenu">
        <span translate>TITLE_CHANGE_PASSWORD</span>
      </a>
      <a mat-list-item *ngIf="isLoggedIn()" routerLink="privacy-security/last-login-ip"
         (click)="onToggleSidenav(); showSubmenu = !showSubmenu">
        <span translate>LAST_LOGIN_IP</span>
      </a>
      <a mat-list-item *ngIf="isLoggedIn()" routerLink="privacy-security/data-export"
         (click)="onToggleSidenav(); showSubmenu = !showSubmenu">
        <span translate>TITLE_REQUEST_DATA_EXPORT</span>
      </a>
    </div>
    <a mat-list-item *ngIf="isLoggedIn()" routerLink="/recycle" (click)="onToggleSidenav();">
      <mat-icon>
        autorenew
      </mat-icon>
      <span>
        {{"NAV_RECYCLE" | translate}}
      </span>
    </a>
    <a mat-list-item *ngIf="isLoggedIn()" routerLink="/track-order"
       (click)="onToggleSidenav();">
      <mat-icon>
        local_shipping
      </mat-icon>
      <span>
        {{"TITLE_TRACK_ORDERS" | translate}}
      </span>
    </a>
    <a mat-list-item *ngIf="isLoggedIn()" (click)="onToggleSidenav(); logout()">
      <mat-icon>
        power_settings_new
      </mat-icon>
      <span>
        {{"TITLE_LOGOUT" | translate }}
      </span>
    </a>
  </div>

  <mat-divider fxHide fxShow.lt-md></mat-divider>

  <h3 mat-subheader class="side-subHeader" translate>TITLE_CONTACT</h3>
  <a mat-list-item routerLink="/contact" (click)="onToggleSidenav();">
    <i class="material-icons">
      feedback
    </i>
    <span>
      {{"SECTION_CUSTOMER_FEEDBACK" | translate}}
    </span>
  </a>
  <a mat-list-item *ngIf="isLoggedIn()" routerLink="/complain" (click)="onToggleSidenav();">
    <i class="material-icons">
      warning
    </i>
    <span>
      {{"NAV_COMPLAIN" | translate}}
    </span>
  </a>

  <mat-divider></mat-divider>

  <h3 mat-subheader class="side-subHeader" translate>COMPANY</h3>
  <a mat-list-item routerLink="/about" (click)="onToggleSidenav()">
    <i class="material-icons">
      business_center
    </i>
    <span>
      {{"TITLE_ABOUT" | translate}}
    </span>
  </a>

  <mat-divider *ngIf="scoreBoardVisible || gitHubRibbon"></mat-divider>

  <a *ngIf="scoreBoardVisible" mat-list-item routerLink="/score-board" (click)="onToggleSidenav()">
    <mat-icon matListIcon class="fas fa-trophy fa-lg"></mat-icon>
    <span>
      {{"TITLE_SCORE_BOARD" | translate}}
    </span>
  </a>

  <a *ngIf="gitHubRibbon" mat-list-item href="/redirect?to=https://github.com/bkimminich/juice-shop">
    <mat-icon matListIcon class="fab fa-github fa-lg"></mat-icon>
    <span>
      GitHub
    </span>
  </a>
</mat-nav-list>

<mat-toolbar class="sidenav-footer mat-elevation-z5" id="botNav" color="primary">
  <span>{{applicationName}} {{version}}</span>
</mat-toolbar>
