mat-card {
  height: auto;
  min-width: 400px;
  width: 25%;
}

mat-table,
.table-heading{
  width: 40%;
  min-width: 450px;
}

.product-name {
  margin-right: 25px;
}

.table-wrapper {
  margin-top: 30px;
}

.table-heading h4 {
  font-size: 22px;
  margin-bottom: 0;
}

.row.fa-4x svg {
  margin-right: 10px;
}
