.ai/
.claude/
.codeium/
.continue/
.cursor/
.devcontainer.json
.git/
.github/
.idea/
.junie/
.mailmap
.npmrc
.nyc_output
.playwright-mcp/
/bom.json
/bom.xml
build/reports/
coverage/
cypress/
dist/
Dockerfile
frontend/.angular/
frontend/dist/
frontend/node_modules/
logs/
monitoring/
node_modules/
rsn/
screenshots/
scripts/
terraform/
test/
vagrant/
