*.log
coverage/
reports/
juiceshop.sqlite
*.out

# Intellij
.idea/
*.iml
*.iws
*.eml
out/

# NPM
node_modules/

# Bower
app/bower_components/

# App
dist/
order_*.pdf

# reveal.js
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
