*.log*
*.out
.audit.json
build/
.stryker-tmp/
.nyc_output/
vagrant/.vagrant/
juiceshop.sqlite

# Intellij
.idea/
*.iml
*.iws
*.eml
out/

# VIM swap files
*.swp

# Vs Code
.vscode/

# Orig from merges
*.orig

# NPM
node_modules/
npm-debug.log.*
package-lock.json

# SASS
.sass-cache/

# App
dist/
order_*.pdf

# GitHub-Pages Branch
assets/
!frontend/src/assets/

# Custom configuration files
config/*.yml
!config/bodgeit.yml
!config/ctf.yml
!config/fbctf.yml
!config/default.yml
!config/sickshop.yml
!config/juicebox.yml
!config/quiet.yml
!config/test.yml
!config/7ms.yml
!config/mozilla.yml
