_auth = cnNyaXJhbS4xMDY4OUBnbWFpbC5jb206QUtDcDhuSEU0b2JTWVdwdjF3TDlSbVZ6dGlCU2dLRlpWN1FpanM2eXRlYW02SjlhdTg0YWVuWVRUWVNkTWhhZlVBd290ZGNoTQ==
email = rsriram.10689@gmail.com
always-auth = true
registry = https://sriramravi.jfrog.io/artifactory/api/npm/npm/
package-lock=false
