dist: xenial
language: node_js
os:
  - linux
  - osx
  - windows
arch:
  - amd64
  - arm64
node_js:
  - 14
  - 12
  - 10
cache:
  directories:
    - node_modules
    - frontend/node_modules
stages:
  - lint
  - test
  - integration
env:
  global:
    secure: KBx27d+h4Aa1vsRG1/gBxIFgee5N4Ln9rf1hmCcpHYp+9A+qspXpJRGm8Loy1dF+NhfY0POnQshAzOgG2isv7/CnNIJmWjHLXwqNvMkKpl2EDbl7EGBGByjvR9K9A84rn7BJJAEsb0/6NNofLhvhheL5mxd1SYvdlbewYeyg3dU=
addons:
  chrome: stable
install:
  - if [[ -z "$TRAVIS_TAG" ]]; then npm install; fi
script: if [[ -z "$TRAVIS_TAG" && "$TRAVIS_OS_NAME" != "windows" && "$TRAVIS_CPU_ARCH" == "amd64" ]]; then NODE_ENV=test npm test; fi
before_deploy:
  - npm install --production
  - npm install -g grunt-cli
  - npm run package:ci
deploy:
  - provider: releases
    overwrite: true
    token:
      secure: fHybcH65ZdS5ITVKH2tIVBITVSiRQJ1AuWqLP16gyAz5pdmWbLM5gA/74zCozanRmuB+7pGFbhDNm075JWoEDVrWSFDLnNiXvfgUYa4oVEiWZlLvOfSARaU3AQPlVvFVhIbG9SA5IEwTtNFbyHjqLjGn/DSBpiIDqqxhF57vw7Q=
    file: dist/*
    file_glob: true
    draft: true
    tag_name: "$TRAVIS_TAG"
    on:
      repo: bkimminich/juice-shop
      tags: true
    edge: true
jobs:
  include:
    - stage: lint
      if: tag IS blank
      install: npm i -g standard@14 && npm i -g yaml-schema-validator && cd frontend && npm install && cd ..
      script:
        - npm run lint
        - npm run lint:config -- -f ./config/7ms.yml
        - npm run lint:config -- -f ./config/addo.yml
        - npm run lint:config -- -f ./config/bodgeit.yml
        - npm run lint:config -- -f ./config/ctf.yml
        - npm run lint:config -- -f ./config/default.yml
        - npm run lint:config -- -f ./config/fbctf.yml
        - npm run lint:config -- -f ./config/juicebox.yml
        - npm run lint:config -- -f ./config/mozilla.yml
        - npm run lint:config -- -f ./config/quiet.yml
        - npm run lint:config -- -f ./config/tutorial.yml
        - npm run lint:config -- -f ./config/unsafe.yml
    - stage: integration
      if: tag IS blank
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
          > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
      script:
        - export NODE_ENV=test
        - npm test
        - npm run frisby
      after_success:
        - "./cc-test-reporter format-coverage -t lcov -o build/reports/coverage/codeclimate.frontend.json build/reports/coverage/frontend-tests/lcov.info"
        - "./cc-test-reporter format-coverage -t lcov -o build/reports/coverage/codeclimate.server.json build/reports/coverage/server-tests/lcov.info"
        - "./cc-test-reporter format-coverage -t lcov -o build/reports/coverage/codeclimate.api.json build/reports/coverage/api-tests/lcov.info"
        - "./cc-test-reporter sum-coverage build/reports/coverage/codeclimate.*.json -p 3"
        - "./cc-test-reporter upload-coverage"
    - stage: e2e
      if: tag IS blank
      script:
        - export NODE_ENV=test
        - npm run protractor
    - stage: e2e
      if: tag IS blank
      script:
        - export NODE_ENV=test
        - npm run preprotractor
        - npm run e2e -- subfolder
    - stage: smoke
      if: tag IS blank
      before_install:
        - chmod +x test/smoke/smoke-test.sh
      install:
        - npm install --production
        - npm install -g grunt-cli
        - npm run package:ci
      script:
        - cd dist
        - tar -zxf juice-shop-*.tgz
        - cd juice-shop_*
        - npm start &
        - ../../test/smoke/smoke-test.sh http://localhost:3000
    - stage: deploy
      if: "(branch = master OR branch = develop OR branch = facelift OR branch = gsoc2020) AND NOT type = pull_request"
      install: skip
      script: skip
      before_deploy:
        - npm install --production
      deploy:
        - provider: heroku
          strategy: api
          api_key:
            secure: faVT3Ne/O7lVo0+pTm6RcXss0ivvSoODaxMkiVwdpk/51/EsRd4+/Gjmp3RGPmW5H5luOephsI8uFMMhgKiu5i3NV58ZSx29Z0aby+bfIhesZGZqJQvxeW8B0J8vlQFnEHP6xc6SAlXSdNjNpDeBaV7WSFSGKGp4Nh5QyO2ySLI=
          app:
            master: juice-shop
            develop: juice-shop-staging
            facelift: juice-shop-experimental
            gsoc2020: juice-shop-gsoc
          on:
            repo: bkimminich/juice-shop
          edge: true
notifications:
  webhooks:
    urls:
      - secure: "qmJ0rveyOAQkRj+0aqhvSkGobcN5NTCzW1CO7GF24dmvx7v8tuKSqR5AObmmjcMdn1y3iIAkAswa8Vtg5L33P9TzZnAYmLvD65ksH79alQs/bKF/rPS5+C9sXNK8yq8fh2/IrarIAeABd21Ch1zXGFmN4ZxPANnUAJj62V1cKSyevEaoPCOB7Uzm5VmQ97sY9FrUgQLAp5u12kNVoMR/bDLfc5cnr0MHXwG+o+DMHpC1yMx2TaqipL7eU3ycZzTCmpojG3OawRY0gAgiYNFHkSZGW2MSXdxxjtnEd8+Eddc1so/w8PeZE7UyeV5UBHwDDFoqNgrBfpYFOlrSwsRahr0kXBZd6DVBgsZX4PzJGYlZ9IB5PilEVYLWA5YKfRp1nfZ8FcDhEmVXM9ZbEJ7M625FSQ1kvzWV0wLGLXabRluTPCyBLMCcMhErTkNpdzaIeJ2h/qFYFE1imciHeqfP+tjXmS8oMlcnx54PaeNEA1kRhaIfhOndx3WLX7biD2IWnF1QUCXjiNO+mNO6BykEH/En4uQ6bUs+xXx6lRNQRclg7hj/VW8cKd3OHzRk709xUxU3TrJ6vpu8SjbZh4156zK1pSh0oVPSJaP0iRfCRqgjeddD3AAFSbD1LYq7lpU9qUYZ+ZLOIEC1ppZcxphpbJvwiSFUhI4JycIUPwUaaHA="
    on_success: always
    on_failure: always
    on_start: never
  slack:
    rooms:
      - secure: "RZiXAynDBIGtfyWAaxA4lAqw+ArvPMyZ7BrBfWhCXvthDqcF8yZmX8X61wmXoAlAd2P/7paHlGYxvPQeNyh3PijoQnHbt8eLBSiFC+wNuLNoMgNnKZCvHqLwMLm2i3CcWVB+vqZTK4LBYYj832YSSkzRxTk5Atcb+THcPzv2SYmKAWXwA6Kbv4VtWWEPe28Z+8sP555laY2HPnp15SkNtwNc26+5R1A3I5vcGyyqNhdkw/2Wg6qowQHlZEqkeQvDslyu454S3/RF/6ulr5ibQV8Tq///n3Ug23yhs0jSSSsHqa0MYGc88JEynWLjxcTfjIb0Yo52UBQDNagSy47m/Qk3redLyLyWhWqu9VMBaw06mzod2T5627jRxtzOQFj6Ml0MgXZBluOh+BL9nX6SnbOeUc8xhrGTbr7TMplgLG46hP884/NNvvOWdcBCEdyoLSg7nqcW2Pk9F/2ZPNEsSAn65mKdqCHCPoge/wD7vqIniE4wh6FajnpwGm1AC7m2wkz7TSfKPejH+x3aKIKJahULt1t8hg59e3OiizKrauhzieO4uUkD9D+s6FaXOqElMhceMNnUYDu6Hpt90lqe8kDBbPNCUY0o5+MZn1Yxwh8mTZE+t97psTvEBCN96Pxd11bF3YczBGgFixYZ+QxqNpE4zwIBPaOwWJjeEPCMQfU="
    on_success: change
    on_failure: change
    on_pull_requests: false
