mat-card {
  height: auto;
  min-width: 320px;
  width: 30%;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rating-container {
  margin-bottom: 15px;
  margin-top: 15px;
}

.star {
  color: #c8c8c8;
}

.active {
  color: #ffd700;
}

.select {
  color: #ffd700;
}

:host ::ng-deep .br {
  margin: 0 !important;
}

#submitButton {
  margin-left: 20%;
  margin-top: 30px;
  width: 60%;
}
