.sidebar {
    background: #F3F3F3;
    bottom: 0;
    position: absolute;
    top: 0;
}

.page-header-sm {
    margin: 10px 0 20px;
}

.right .github-fork-ribbon {
    background-color: #333;
}

.ribbon-spacer {
    margin-right: 100px;
}

.btn-group {
    display: flex;
}

.nowrap {
    display: flex;
}

.navbar .navbar-logo {
    max-height: 100px;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
}

.label-button {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}