<div class="filter-row">
  <mat-form-field class="search-form-field">
    <mat-label>Search</mat-label>
    <input type="search" matInput [value]="filterSetting.searchQuery" (input)="onSearchQueryFilterChange($event.target.value)" placeholder="Search Anything">
  </mat-form-field>
  
  <div class="options-group">
    <button mat-icon-button aria-label="reset all filters" (click)="reset()" title="reset all filters">
      <!-- todo(@J12934): fix icon. displaying without the off... -->
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" [style.color]="canBeReset() ? 'var(--theme-warn)' : 'var(--theme-text-dark)'">
        <path d="M12.2442 2.96672L9.56672 6.37922L10.6392 7.45172C11.4117 6.46922 14.3742 2.67422 14.3742 2.67422C14.7567 2.17922 14.4042 1.46672 13.7817 1.46672H4.65422L6.15422 2.96672H12.2442Z" fill="currentColor"/>
        <path d="M1.63922 0.574219L0.574219 1.63172L7.03172 8.21672V12.7167C7.03172 13.1292 7.36922 13.4667 7.78172 13.4667H9.28172C9.69422 13.4667 10.0317 13.1292 10.0317 12.7167V11.0892L14.3667 15.4242L15.4242 14.3667L1.63922 0.574219Z" fill="currentColor"/>
      </svg>
    </button>
    <mat-form-field>
      <mat-label>Difficulty</mat-label>
      <mat-select multiple [value]="filterSetting.difficulties" (selectionChange)="onDifficultyFilterChange($event.value)">
        <mat-option [value]="1">⭐️</mat-option>
        <mat-option [value]="2">⭐️⭐️</mat-option>
        <mat-option [value]="3">⭐️⭐️⭐️</mat-option>
        <mat-option [value]="4">⭐️⭐️⭐️⭐️</mat-option>
        <mat-option [value]="5">⭐️⭐️⭐️⭐️⭐️</mat-option>
        <mat-option [value]="6">⭐️⭐️⭐️⭐️⭐️⭐️</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select placeholder="All" [value]="filterSetting.status" (selectionChange)="onStatusFilterChange($event.value)">
        <mat-option [value]="null">All</mat-option>
        <mat-option value="unsolved">Unsolved</mat-option>
        <mat-option value="partially-solved">Partially Solved</mat-option>
        <mat-option value="solved">Solved</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-select multiple [value]="filterSetting.tags" (selectionChange)="onTagFilterChange($event.value)">
        <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<category-filter
  [categories]="filterSetting.categories"
  (categoriesChange)="onCategoryFilterChange($event)"
  [allChallenges]="allChallenges"
></category-filter>