<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Privacy & Settings</mat-toolbar>
    <mat-nav-list (click)="600 > windowWidth ? drawer.toggle() : false">
      <a mat-list-item (click)="showDiv(1)">Privacy Policy</a>
      <a mat-list-item (click)="showDiv(2)">Two Factor Authentication</a>
      <a mat-list-item (click)="showDiv(3)">Change Password</a>
      <a mat-list-item (click)="showDiv(4)">Last login IP</a>
      <a mat-list-item (click)="showDiv(5)">Request Data Export</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="top: 0">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="selectedIndex === 1">Privacy Policy</span>
      <span *ngIf="selectedIndex === 2">Two Factor Authentication</span>
      <span *ngIf="selectedIndex === 3">Change Password</span>
      <span *ngIf="selectedIndex === 4">Last login IP</span>
      <span *ngIf="selectedIndex === 5">Request Data Export</span>
    </mat-toolbar>
      <div class="space-element"></div>
      <div *ngIf="selectedIndex === 1"><p class="tempclass">Privacy Policy To be written here</p></div>
      <app-two-factor-auth-enter *ngIf="selectedIndex === 2"></app-two-factor-auth-enter>
      <app-change-password *ngIf="selectedIndex === 3"></app-change-password>
      <div *ngIf="selectedIndex === 4"><mat-card class="ipCard">{{ Ip }}</mat-card></div>
      <div *ngIf="selectedIndex === 5"><p class="tempclass">Data Export Component to be added here</p></div>
    </mat-sidenav-content>
</mat-sidenav-container>