<link rel='icon' href="./assets/public/images/JuiceShop_Logo_50px.png">
<link rel="stylesheet" href='/vendor/beercss/beer.min.css'>
<link rel="stylesheet" href='/vendor/material-icons/material-icons.css'>
<link rel="stylesheet" href='./assets/public/css/roboto.css' type='text/css'>
<link rel="stylesheet" type="text/css" href="./assets/public/css/dataErasure.css">
<script type="module" src="/vendor/beercss/beer.min.js"></script>
<header style="background: #546e7a; padding: 8px 16px;">
  <nav>
    <a href="./#/" style="color: #FFFFFF; text-decoration:none;">
      <i class="material-icons">arrow_back</i>
    </a>
    <a href="./#/" style="color: #FFFFFF; text-decoration:none;">Back</a>
    <a href="./#/" class="brand">
      <img src="./assets/public/images/JuiceShop_Logo.png" alt="" style="max-height: 50px; width: auto;">
      <span>OWASP Juice Shop</span>
    </a>
    <div class="max"></div>
  </nav>
</header>
<div class="main-content">
    <div class="formBlock">
        <p class="message">Sorry to see you leave! Your erasure request will be processed shortly.</p>
        <div class="deleteButton">
        <a href="/" class="home-page"
            style="background-color:#546E7A; color: #FFFFFF; display: inline-block; padding: 8px 16px; border-radius: 4px; text-decoration: none; font-weight: 500;">
            Go To HomePage
        </a>
        </div>
    </div>
</div>
<script>
    localStorage.removeItem('token')
    sessionStorage.removeItem('bid')
</script>