doctype html
html(lang='en')
    head
        title OWASP Juice Shop
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body(style='background: black;color:#9d9d9d;')
        nav.navbar.navbar-inverse(style='background: #263238;border-radius:0px;')
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/') OWASP Juice Shop
                ul.nav.navbar-nav
                    li
                        a(href='/#/')
                            span.glyphicon.glyphicon-arrow-left
                            |  Back
        .container
            h3 User Profile 
            .row(style='margin-top:10%;')
                .col-sm-4
                    img.img-rounded(src='assets/public/images/uploads/'+profileImage, alt='Cinque Terre', width='304', height='236')
                    p(style='padding-left:36%;margin-top:8%;') usrname
                    form(action='/profile/image/file' , style='margin-top:10%;',method='post',enctype='multipart/form-data')
                        .form-group
                            input(type='file', accept='image/*',name='file')
                        button.btn.btn-default(type='submit') Submit

                    p(style='margin-top:10%;') ------------------------- Or -------------------------

                    form(action='/profile/image/url' , style='margin-top:10%;',method='post')
                        .form-group
                            label(for='url') Image Url:
                            input#url.form-control(type='text',name='imageUrl')
                        button(id='submitUrl').btn.btn-default(type='submit') Submit


                .col-sm-8
                    form(action='/profile',method='post')
                        .form-group
                            label(for='username') Username:
                            input#username.form-control(type='text',name='username',placeholder='Enter Username',value='#{username}')
                        .form-group
                            label(for='email') Email:
                            input#email.form-control(type='email',name='email',placeholder='Enter email',value='#{email}')
                        button(id='submit').btn.btn-default(type='submit') Submit
        
