<mat-card appearance="outlined" class="mat-elevation-z6">
  <div class="mdc-card">
    <div class="header_container">
      <h1>{{"TITLE_CRYPTO_WALLET" | translate}}</h1>
      <div class="metamask-button">
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="handleAuth()"
          >
          <mat-icon>
            account_balance_wallet
          </mat-icon>
          
          @if (session) {
            <span
              >{{ userData.address.substring(0, 6) }}...{{
              userData.address.slice(-6)
              }}
            </span>
          } @else {
            <span>{{"BTN_CONNECT_METAMASK" | translate}}</span>
          }
        </button>
      </div>
    </div>
    <p>
      <b>
        <span>{{"LABEL_WALLET_BALANCE" | translate}}</span>
        <span class="confirmation"> {{ walletBalance }} ETH</span>
      </b>
    </p>
    <div>
      <mat-form-field style="width: 100%" color="accent" appearance="outline">
        <mat-label>{{'LABEL_AMOUNT' | translate}}</mat-label>
        <input
          matInput
          [placeholder]="'ENTER_ETHER_AMOUNT' | translate"
          type="number"
          id="inputAmount"
          [(ngModel)]="inputAmount"
          aria-label="Text field for the withdrawal amount"
          />
      </mat-form-field>
      <h5 class="error">{{ errorMessage }}</h5>
    </div>
    <div class="dwbutton_container">
      <button
        type="submit"
        class="deposit_withdraw_button"
        mat-raised-button
        color="primary"
        aria-label="Button to deposit"
        (click)="depositETH()"
        >
        <mat-icon>monetization_on</mat-icon>
        {{'BTN_DEPOSIT' | translate}}
      </button>
      <button
        type="submit"
        class="deposit_withdraw_button"
        mat-raised-button
        color="warning"
        aria-label="Button to withdraw"
        (click)="withdrawETH()"
        >
        <mat-icon>local_atm</mat-icon>
        {{'BTN_WITHDRAW' | translate}}
      </button>
    </div>
  </div>
</mat-card>
