<div fxLayoutAlign="center">
  <mat-card>

    <h3 translate>TITLE_TWO_FACTOR_AUTH_ENTER</h3>

    <div class="form-container" id="registration-form">

      <mat-form-field appearance="outline">
        <mat-label translate>LABEL_TWO_FACTOR_AUTH_TOKEN</mat-label>
        <input [formControl]="tokenControl" name="totp-token" type="text" minlength="6" maxlength="6" matInput>
      </mat-form-field>
    </div>

    <button (click)="verify()" type="submit" id="registerButton" color="primary" mat-raised-button>
      {{'BTN_LOGIN' | translate}}
    </button>

  </mat-card>
</div>