<mat-dialog-content class="mat-typography">
  <h1 mat-dialog-title translate>SCOREBOARD_ADDITIONAL_SETTINGS</h1>

  <div class="settings">
    <div class="setting-group">
      <h2 translate>BACKUP_HEADLINE</h2>
      <div class="setting">
        <span translate>SAVE_BACKUP_TOOLTIP</span>
        <button mat-flat-button color="primary" (click)="localBackupService.save()"><mat-icon>save_alt</mat-icon><span translate>BTN_SAVE_BACKUP</span></button>
      </div>
      <div class="setting">
        <input type="file"
          #restoreBackupFile
          (change)="localBackupService.restore($event.target.files.item(0))"
          style="display:none;" />
        <span translate>RESTORE_BACKUP_TOOLTIP</span>
        <button mat-flat-button color="primary" (click)="restoreBackupFile.click()"><mat-icon>settings_backup_restore</mat-icon><span translate>BTN_RESTORE_BACKUP</span></button>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="null" cdkFocusInitial>
      {{ "BTN_CLOSE" | translate }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
