<mat-dialog-content>
  <h1 mat-dialog-title translate>{{"SCOREBOARD_ADDITIONAL_SETTINGS" | translate}}</h1>

  <div class="settings">
    <div class="setting-group">
      <h2>{{"BACKUP_HEADLINE" | translate}}</h2>
      <div class="setting">
        <span>{{"SAVE_BACKUP_TOOLTIP" | translate }}</span>
        <button mat-flat-button color="primary" (click)="localBackupService.save()"><mat-icon>save_alt</mat-icon><span class="tooltip">{{"BTN_SAVE_BACKUP" | translate}}</span></button>
      </div>
      <div class="setting">
        <input type="file"
          #restoreBackupFile
          (change)="localBackupService.restore($event.target.files.item(0))"
          style="display:none;" />
        <span>{{"RESTORE_BACKUP_TOOLTIP" | translate }}</span>
        <button mat-flat-button color="primary" (click)="restoreBackupFile.click()"><mat-icon>settings_backup_restore</mat-icon><span class="tooltip">{{"BTN_RESTORE_BACKUP" | translate  }}</span></button>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="close-btn" mat-flat-button [mat-dialog-close]="null" cdkFocusInitial>
      {{ "BTN_CLOSE" | translate }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
