<mat-dialog-content>
  <div class="container mat-typography" fxLayout="column">
    <h1 translate>LABEL_EDIT_REVIEW</h1>

    <div>
      <mat-form-field appearance="outline" color="accent">
          <textarea [formControl]="editReviewControl" #textPut matInput placeholder=""
                    matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="4"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-outlined-button mat-dialog-close class="close-dialog">
    <i class="material-icons">
      close
    </i>
    <span>  {{'BTN_CLOSE' | translate}}</span>
  </button>
  <button type="submit" (click)="editReview()" mat-raised-button cdkFocusInitial>
    <i class="material-icons">
      send
    </i>
    <span>  {{'BTN_SUBMIT' | translate}}</span>
  </button>
</mat-dialog-actions>
