<mat-dialog-content>
  <div class="container">
      <h1> Edit Review </h1>

      <div class="edit-review">
        <mat-form-field>
          <textarea [formControl]="editReviewControl" #textPut cols="50" matInput placeholder="Submit a review" matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="4"></textarea>
        </mat-form-field>

        <button style="width:fit-content" (click)="editReview()" mat-raised-button color="primary"><i class="fas fa-paper-plane fa-lg"></i> Submit</button>
      </div>
  </div>

  <footer>
    <button style="width:fit-content;float:right;margin-top:15px;" mat-raised-button mat-dialog-close color="warn"><i class="fas fa-arrow-circle-left fa-lg"></i>  Close</button>
  </footer>
</mat-dialog-content>
