<div fxLayoutAlign="center">
  <mat-card>

    <h2 translate>TITLE_TWO_FACTOR_AUTH_SETUP</h2>

    <div *ngIf="setupStatus === true">2FA_SUCCESSFULL_SETUP</div>

    <div *ngIf="errored" translate>2FA_SETUP_ERROR</div>

    <form 
      *ngIf="setupStatus === false" 
      class="form-container"
      id="two-factor-auth-setup"
      [formGroup]="twoFactorSetupForm"
      (ngSubmit)="setup()"
    >
      <div class="error" [hidden]="!(error && !twoFactorSetupForm.dirty)">{{ error }}</div>

      <span translate>2FA_AUTH_SETUP_INSTRUCTIONS</span>

      <div fxLayoutAlign="center" class="two-factor-qr-code">
          <qrcode [qrdata]="totpUrl" [size]="300" [level]="'M'"></qrcode>
      </div>

      <mat-form-field appearance="outline">
        <mat-label translate>LABEL_CONFIRM_CURRENT_PASSWORD</mat-label>
        <input id="currentPassword" formControlName="passwordControl" type="password" matInput>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label translate>LABEL_INITAL_2FA_TOKEN</mat-label>
        <input id="initalToken" formControlName="initalTokenControl" type="text" matInput>
      </mat-form-field>

      <button 
        type="submit"
        id="setupTwoFactorAuth"
        [disabled]="twoFactorSetupForm.invalid"
        mat-raised-button 
        color="primary"
      >
        <i class="fas fa-save fa-lg"></i> {{'BTN_SUBMIT' | translate}}
      </button>
    </form>
  </mat-card>
</div>