<div fxLayoutAlign="center">
  <mat-card class="mat-elevation-z6">

    <h1 id="2fa-setup-title" translate>TITLE_TWO_FACTOR_AUTH_CONFIG</h1>

    <div id="2fa-setup-successfully" *ngIf="setupStatus === true">
      <p translate>2FA_SUCCESSFUL_SETUP</p>

      <form
        class="form-container"
        id="two-factor-auth-disable"
        [formGroup]="twoFactorDisableForm"
        (ngSubmit)="disable()"
      >

        <h2 id="two-factor-auth-disable-title" translate>REMOVE_TWO_FACTOR_AUTH</h2>

        <div class="error" [hidden]="!(errored && !twoFactorDisableForm.dirty)" translate>2FA_SETUP_ERROR</div>

        <mat-form-field appearance="outline" color="accent">
          <mat-label translate>LABEL_CURRENT_PASSWORD</mat-label>
          <input id="currentPasswordDisable" formControlName="passwordControl" type="password" matInput
                 aria-label="Field to enter the current password"
                 placeholder="{{'MANDATORY_CURRENT_PASSWORD' | translate }}"
                 autocomplete="off">
        </mat-form-field>

        <button
          type="submit"
          id="disableTwoFactorAuth"
          [disabled]="twoFactorDisableForm.invalid"
          mat-raised-button
          color="warn"
          aria-label="Button to remove the two-factor authentication"
        >
          <i class="material-icons">
            lock_open
          </i>
          {{'BTN_REMOVE' | translate}}
        </button>
      </form>
    </div>

    <form
      *ngIf="setupStatus === false"
      class="form-container"
      id="two-factor-auth-setup"
      [formGroup]="twoFactorSetupForm"
      (ngSubmit)="setup()"
    >

      <span id="2fa-setup-instructions" translate>2FA_AUTH_SETUP_INSTRUCTIONS</span>

      <div fxLayoutAlign="center" class="two-factor-qr-code">
        <qrcode
          [qrdata]="totpUrl"
          [size]="300"
          [level]="'L'"
        ></qrcode>
      </div>

      <div class="error" [hidden]="!(errored && !twoFactorSetupForm.dirty)" translate>2FA_SETUP_ERROR</div>

      <mat-form-field appearance="outline" color="accent">
        <mat-label translate>LABEL_CURRENT_PASSWORD</mat-label>
        <input id="currentPasswordSetup" formControlName="passwordControl" type="password" matInput
               aria-label="Field to enter the current password"
               placeholder="{{'MANDATORY_CURRENT_PASSWORD' | translate }}"
               autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label translate>INITIAL_CODE</mat-label>
        <input
          id="initalToken"
          formControlName="initalTokenControl"
          type="text"
          matInput
          [attr.data-test-totp-secret]="totpSecret"
          aria-label="Field to enter the initial token. This must have 6 digits."
          placeholder="{{'INITIAL_CODE_PLACEHOLDER' | translate }}"
          autocomplete="off"
        >
        <mat-icon matSuffix matTooltip="The code to be entered from the authenticator must have 6 digits"
                  matTooltipPosition=right
                  aria-label="The code to be entered from the authenticator must have 6 digits.">
          help_outline
        </mat-icon>
      </mat-form-field>

      <button
        type="submit"
        id="setupTwoFactorAuth"
        [disabled]="twoFactorSetupForm.invalid"
        mat-raised-button
        color="primary"
        aria-label="Button to complete the two-factor configuration"
      >
        <i class="material-icons">
          save
        </i>
        {{'SAVE' | translate}}
      </button>
    </form>
  </mat-card>
</div>
