<div fxLayoutAlign="center">
  <mat-card>
    <h1 translate>GDPR_HEADING</h1>

    <p>Juice Shop offers all it's users the opportunity to request data deletion for any data associated with their account, upholding our continuing accordance to data security, Customer privacy, and GDPR compliance.</p>

    <h3 translate>DATA_SUBJECT_TITLE</h3>

    <div class="form-container">

      <div class="confirmation" [hidden]="!(confirmation && !emailGroup.dirty && !securityQuestionGroup.dirty)">{{ confirmation }}</div>
      <div class="error" [hidden]="!(error && !emailGroup.dirty && !securityQuestionGroup.dirty)">{{ error }}</div>

      <mat-form-field appearance="outline">
        <mat-label translate>LABEL_EMAIL</mat-label>
        <input id="email" formControlName="emailControl" (ngModelChange)="findSecurityQuestion()"
        type="text" matInput placeholder="Enter your email">
        <mat-error *ngIf="emailGroup.invalid && emailGroup.errors.required" translate>MANDATORY_EMAIL</mat-error>
        <mat-error *ngIf="emailGroup.invalid && emailGroup.errors.email" translate>INVALID_EMAIL</mat-error>
      </mat-form-field>
    </div>

   <div class="form-container" *ngIf="securityQuestion" id="forgot-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ securityQuestion }}</mat-label>
        <input id="securityAnswer" formControlName="securityQuestionControl" type="password" matInput placeholder="">
        <mat-error *ngIf="securityQuestionGroup.invalid && securityQuestionGroup.errors.required" translate>MANDATORY_SECURITY_ANSWER</mat-error>
      </mat-form-field>
    </div>

    <button type="submit" id="deleteUserButton" style="margin-top:5px;" mat-raised-button color="primary"
            [disabled]="securityQuestionGroup.invalid || emailGroup.invalid"
            (click)="save()"><i class="fas fa-exclamation-triangle fa-lg"></i> {{'DELETE_DATA_LABEL' | translate}}
    </button>
  </mat-card>
</div>

