<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--suppress HtmlUnknownAnchorTarget -->
<html lang="en" ng-app="juiceShop" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="applicationName"></title>
    <meta name="description" content="An intentionally insecure JavaScript Web Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link ng-controller="NavbarController" href="node_modules/bootswatch/slate/bootstrap.min.css" rel="stylesheet" id="theme">
    <link href="node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="node_modules/cookieconsent/build/cookieconsent.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css"/>

    <script src="/socket.io/socket.io.js"></script>
    <script src="private/fontawesome-all.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/string/dist/string.min.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="node_modules/angular-tooltipps/dist/angular-tooltips.min.js"></script>
    <script src="node_modules/angular-touch/angular-touch.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/angular-socket-io/socket.min.js"></script>
    <script src="node_modules/clipboard/dist/clipboard.min.js"></script>
    <script src="node_modules/ngclipboard/dist/ngclipboard.min.js"></script>
    <script src="node_modules/angular-base64/angular-base64.js"></script>
    <script src="node_modules/qrcode-generator/qrcode.js"></script>
    <script src="node_modules/angular-qrcode/angular-qrcode.js"></script>
    <script src="node_modules/cookieconsent/build/cookieconsent.min.js"></script>

    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#eb6c44",
              "text": "#ffffff"
            },
            "button": {
              "background": "#f5d948"
            }
          },
          "theme": "classic",
          "position": "bottom-right",
          "content": {
            "message": "This website uses fruit cookies to ensure you get the juiciest tracking experience.",
            "dismiss": "Me want it!",
            "link": "But me wait!",
            "href": "https://www.youtube.com/watch?v=9PnbKL3wuH4"
          }
        })});
    </script>

    <script src="dist/juice-shop.min.js"></script>

</head>

<body ng-cloak translate-cloak>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" ng-controller="NavbarController">
        <div class="navbar-header">
            <a href="#/"><img class="navbar-brand navbar-logo" src="/public/images/JuiceShop_Logo.png"></a>
            <a class="navbar-brand" href="#/"><span ng-bind="applicationName"></span> <small ng-bind="version"></small></a>
            <span class="navbar-brand" ng-show="isLoggedIn()">
                <i class="fas fa-user-circle fa-lg" uib-tooltip="{{userEmail}}" tooltip-placement="right"></i>
            </span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-show="!isLoggedIn()">
                <a href="#/login"><i class="fas fa-sign-in-alt fa-lg"></i> <span translate="TITLE_LOGIN"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/logout"><i class="fas fa-sign-out-alt fa-lg"></i> <span translate="TITLE_LOGOUT"></span></a>
            </li>
            <li class="dropdown">
                <a id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-language fa-lg"></i> <span translate="LANGUAGE"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="languageMenu" ng-controller="LanguageController">
                    <li><a ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-gb"></span><span class="flag-icon flag-icon-us"></span> English</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="changeLanguage('ar_SA')"><span class="flag-icon flag-icon-ae"></span> عربى <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('cs_CZ')"><span class="flag-icon flag-icon-cz"></span> Česky</a></li>
                    <li><a ng-click="changeLanguage('da_DK')"><span class="flag-icon flag-icon-dk"></span> Dansk <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('de_DE')"><span class="flag-icon flag-icon-de"></span> Deutsch</a></li>
                    <li><a ng-click="changeLanguage('el_GR')"><span class="flag-icon flag-icon-gr"></span> Ελληνικά <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('es_ES')"><span class="flag-icon flag-icon-es"></span> Español</a></li>
                    <li><a ng-click="changeLanguage('et_EE')"><span class="flag-icon flag-icon-ee"></span> Eesti <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('fi_FI')"><span class="flag-icon flag-icon-fi"></span> Suomalainen <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('fr_FR')"><span class="flag-icon flag-icon-fr"></span> Français</a></li>
                    <li><a ng-click="changeLanguage('he_IL')"><span class="flag-icon flag-icon-il"></span>עברי </a></li>
                    <li><a ng-click="changeLanguage('hu_HU')"><span class="flag-icon flag-icon-hu"></span> Magyar <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('id_ID')"><span class="flag-icon flag-icon-id"></span> Bahasa Indonesia</a></li>
                    <li><a ng-click="changeLanguage('it_IT')"><span class="flag-icon flag-icon-it"></span> Italiano <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('ja_JP')"><span class="flag-icon flag-icon-jp"></span> 日本の</a></li>
                    <li><a ng-click="changeLanguage('lt_LT')"><span class="flag-icon flag-icon-lt"></span> Lietuviešu <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('lv_LV')"><span class="flag-icon flag-icon-lv"></span> Latvijas <i class="fas fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('my_MM')"><span class="flag-icon flag-icon-mm"></span> ျမန္မာ</a></li>
                    <li><a ng-click="changeLanguage('nl_NL')"><span class="flag-icon flag-icon-nl"></span> Nederlands</a></li>
                    <li><a ng-click="changeLanguage('no_NO')"><span class="flag-icon flag-icon-no"></span> Norsk</a></li>
                    <li><a ng-click="changeLanguage('pl_PL')"><span class="flag-icon flag-icon-pl"></span> Język Polski</a></li>
                    <li><a ng-click="changeLanguage('pt_PT')"><span class="flag-icon flag-icon-pt"></span> Português</a></li>
                    <li><a ng-click="changeLanguage('ro_RO')"><span class="flag-icon flag-icon-ro"></span> Românesc</a></li>
                    <li><a ng-click="changeLanguage('ru_RU')"><span class="flag-icon flag-icon-ru"></span> Pусский</a></li>
                    <li><a ng-click="changeLanguage('sv_SE')"><span class="flag-icon flag-icon-se"></span> Svenska</a></li>
                    <li><a ng-click="changeLanguage('tr_TR')"><span class="flag-icon flag-icon-tr"></span> Türkçe</a></li>
                    <li><a ng-click="changeLanguage('ur_PK')"><span class="flag-icon flag-icon-pk"></span>اردو </a></li>
                    <li><a ng-click="changeLanguage('zh_CN')"><span class="flag-icon flag-icon-cn"></span> 中国</a></li>
                    <li><a ng-click="changeLanguage('zh_HK')"><span class="flag-icon flag-icon-hk"></span> 繁體中文 <i class="fas fa-flask"></i></a></li>
                </ul>
            </li>
            <li>
                <form class="navbar-form" role="form" ng-controller="SearchController">
                    <div class="form-group">
                        <input type="search" class="form-control" translate-attr="{ placeholder: 'SEARCH_PLACEHOLDER' }" ng-model="searchQuery">
                    </div>
                    <button type="submit" id="searchButton" class="btn btn-default" ng-click="search()"><i class="fas fa-search fa-lg"></i> <span translate="NAV_SEARCH"></span></button>
                </form>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/basket"><i class="fas fa-shopping-cart fa-lg"></i> <span translate="TITLE_BASKET"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/change-password"><i class="fas fa-user-secret fa-lg"></i> <span translate="TITLE_CHANGE_PASSWORD"></span></a>
            </li>
            <li class="dropdown">
                <a href="#/contact"><i class="fas fa-comment fa-lg"></i> <span translate="TITLE_CONTACT"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/recycle"><i class="fas fa-recycle fa-lg"></i> <span translate="NAV_RECYCLE"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/complain"><i class="fas fa-bomb fa-lg"></i> <span translate="NAV_COMPLAIN"></span></a>
            </li>
            <li class="dropdown" ng-show="scoreBoardMenuVisible">
                <a href="#/score-board"><i class="fas fa-trophy fa-lg"></i> <span translate="TITLE_SCORE_BOARD"></span></a>
            </li>
            <li class="dropdown ribbon-spacer">
                <a href="#/about"><i class="fas fa-info-circle fa-lg"></i> <span translate="TITLE_ABOUT"></span></a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="hidden" ng-bind="applicationName"></h1><!-- for SEO -->

<div class="container" ng-controller="ServerStartedNotificationController">
    <div uib-alert ng-show="hackingProgress.autoRestoreMessage" ng-class="'alert alert-warning'" close="closeNotification()">
        <span translate="NOTIFICATION_SERVER_STARTED"></span>: {{hackingProgress.autoRestoreMessage}}
        <button class="btn btn-primary btn-xs" ng-click="clearProgress()" ng-disabled="hackingProgress.cleared">
            <i class="fas fa-trash" aria-hidden="true"></i>
            <span translate="RESTART_REQUIRED" ng-show="hackingProgress.cleared"></span>
            <span translate="RESET_HACKING_PROGRESS" ng-show="!hackingProgress.cleared"></span>
        </button>
    </div>
</div>

<div class="container" ng-controller="ChallengeSolvedNotificationController">
    <div uib-alert ng-repeat="notification in notifications" ng-class="'alert alert-success'" close="closeNotification($index)">
        {{notification.message}}<br>

        <div ng-show="showCtfFlagsInNotifications">
            <i class="fas fa-flag-checkered"></i> {{notification.flag}}
            <button class="btn btn-primary btn-xs" ngclipboard data-clipboard-text="{{notification.flag}}" ngclipboard-success="notification.copied = true" ng-disabled="notification.copied">
                <i class="fas fa-clipboard" aria-hidden="true"></i>
                <span translate="COPY_SUCCESS" ng-show="notification.copied"></span>
                <span translate="COPY_TO_CLIPBOARD" ng-show="!notification.copied"></span>
            </button>
        </div>
    </div>
</div>

<main class="container-fluid" ng-view></main>

<a ng-show="gitHubRibbon" href="/redirect?to=https://github.com/bkimminich/juice-shop"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/public/images/ribbons/forkme_right_{{gitHubRibbon}}.png" alt="Fork me on GitHub"></a>

</body>
</html>
