:host {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
  }
  
  .mat-search_field {
    position: absolute;
    z-index: 1;
    padding: 0 24px 0 0;
  }
  
  .mat-search_icons {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
    }
    .mat-search_icon-close,
    .mat-search_icon-search {
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      border-radius: 50%;
    }
    .mat-search_icon-close,
    &.mat-search_icons--active .mat-search_icon-search {
      opacity: 0;
      transform: rotate(225deg);
    }
    &.mat-search_icons--active .mat-search_icon-close {
      opacity: 1;
      z-index: 3;
      visibility: visible;
      transform: rotate(360deg);
    }
  }