<div class="container">
  <mat-card appearance="outlined" class="mat-elevation-z6 faucet-container">
    <div class="mdc-card">
      <h1>{{"TITLE_BEE_HAVEN" | translate}}</h1>
      <div class="faucet-image">
        <img src="assets/public/images/BeeOwner.png" />
      </div>
      <p>{{"BEE_HAVEN_INTRO" | translate}}</p>
      <div class="faucet-balance">
        <span color="accent">
          {{'FAUCET_BALANCE' | translate}}: {{ BEEBalance }} | {{'BEE_BALANCE' | translate}}:
          {{ myBEEBalance }}
        </span>
        <div class="metamask-button">
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="handleAuth()"
            >
            <mat-icon>
              account_balance_wallet
            </mat-icon>
            @if (session) {
            <span>{{ userData.address.substring(0, 6) }}...{{
              userData.address.slice(-6)
              }}</span>
            } @else {
            <span>{{"BTN_CONNECT_METAMASK" | translate}}</span>
            }
          </button>
        </div>
      </div>

      <div class="withdraw-container">
        <div>
          <mat-form-field style="width: 100%" color="accent" appearance="outline">
            <mat-label>{{"LABEL_NUMBER_OF_BEES" | translate}}</mat-label>
            <input
              matInput
              [placeholder]="'LABEL_NUMBER_OF_BEES'|translate"
              type="number"
              id="withdrawAmount"
              [(ngModel)]="withdrawAmount"
              aria-label="Text field for the withdrawal amount"
              />
          </mat-form-field>
          <h5 class="error">{{ errorMessage }}</h5>
        </div>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="extractBEETokens()"
          >
          <mat-icon>
            emoji_nature
          </mat-icon>
          {{ "BTN_CLAIM_BEES" | translate }}
        </button>
      </div>
    </div>
  </mat-card>
  <mat-card appearance="outlined" class="mat-elevation-z6 honeypot-container">
    <div class="mdc-card">
      <div class="honeypot-image mat-elevation-z6">
        <img src="assets/public/images/HoneyPot.png" />
      </div>
      <h2>{{"BEE_HONEYPOT_TITLE" | translate}}</h2>
      <p>{{"BEE_HONEYPOT_DESCRIPTION" | translate}}</p>

      <button 
        class="mint_button"
        mat-raised-button
        color="warn"
        [disabled]="mintButtonDisabled"
        (click)="mintNFT()"
      >
        <mat-icon>
          image
        </mat-icon>
        {{ nftMintText }}
      </button>
    </div>
  </mat-card>
</div>
