<div class="mat-typography">
  <header>
    <h3>{{"LABEL_USER" | translate}} #{{user?.id}}</h3>
  </header>

  <mat-divider></mat-divider>

  <div class="container" fxLayout="column">

    <div fxLayout="row" fxLayoutGap="10px">

      <div>
        <strong translate="LABEL_EMAIL"></strong>
        <p>{{user?.email}}</p>
      </div>

      <!--<div>
        <strong translate="LABEL_PASSWORD"></strong>
        <p>{{user?.password}}</p>
      </div>-->

    </div>

    <div fxLayout="row" fxLayoutGap="10px">

      <div>
        <strong translate="LABEL_CREATED_AT"></strong>
        <p>{{user?.createdAt}}</p>
      </div>

      <div>
        <strong translate="LABEL_UPDATED_AT"></strong>
        <p>{{user?.updatedAt}}</p>
      </div>

    </div>
  </div>

  <footer>
    <button mat-raised-button mat-dialog-close class="close-dialog">
      <i class="material-icons">
        close
      </i>
      <span>  {{'BTN_CLOSE' | translate}}</span>
    </button>
  </footer>
</div>
