<div class="mat-typography">
    <h1><span>{{title}}</span></h1>
    <div class="text-justify" [innerHtml]="message"></div>
    <button
      *ngIf="showHackingInstructor"
      mat-raised-button color="warn"
      (click)="startHackingInstructor()"
      [matTooltip]="('SCORE_BOARD_HACKING_INSTRUCTOR' | translate)"
      matTooltipPosition="above"
    >
      <mat-icon>
        school
      </mat-icon>
    </button>
    <button mat-raised-button class="close-dialog" (click)="closeWelcome()" color="primary" aria-label="Close Welcome Banner">
      {{"BTN_DISMISS" | translate}}
    </button>
</div>
