:host {
  background-color: var(--theme-background-darker);
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(80, 80, 80, 0.25);
  display: grid;
  grid-template-rows: min-content min-content auto min-content;

  max-height: 144px;
  overflow: hidden;
  padding: 12px 16px;

  &.solved {
    border-top: 3px solid var(--theme-accent);
  }

  &.solved .dot {
    background-color: var(--theme-accent);
  }

  &.unsolved {
    border-top: 3px solid #5c5c5c;
  }

  &.unsolved .dot {
    background-color: #5c5c5c;
  }
}

.category-row {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
}

.name-row {
  align-items: center;
  display: grid;
  grid-template-columns: 12px auto min-content;
  margin-top: 4px;

  .dot {
    border-radius: 50%;
    height: 8px;
    width: 8px;
  }

  .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }

  .badge-group {
    column-gap: 4px;
    display: flex;
  }
}

.description-row {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 6px;

  overflow-y: scroll;
}

.bottom-row {
  align-items: end;
  column-gap: 4px;
  display: grid;
  grid-template-columns: auto min-content;
  margin-top: 6px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .tag {
    background: #3d3d3d;
    border-radius: 1.82849px;
    color: #5fc091;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 2px 4px;
  }

  .difficulty {
    display: flex;
  }
}
