<span class="category-row">{{ challenge.category }}</span>

<div class="name-row">
  <div class="dot"></div>
  <span class="name">{{ challenge.name }}</span>
  <div class="difficulty">
    <span
      class="difficulty-star"
      *ngFor="let star of challenge.difficultyAsList"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 14 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.56386 0.511963L8.10332 5.24992H13.0851L9.05475 8.17813L10.5942 12.9161L6.56386 9.98787L2.53352 12.9161L4.07297 8.17813L0.0426283 5.24992H5.02441L6.56386 0.511963Z"
          fill="var(--theme-text)"
        />
      </svg>
    </span>
  </div>
</div>
<div class="description-row" [innerHtml]="challenge.description"></div>
<div class="bottom-row">
  <div class="tags">
    <span *ngFor="let tag of challenge.tagList" class="tag">{{ tag }}</span>
  </div>
  <div class="badge-group">
    <!-- coding challenge badge -->
    <button 
      class="badge"
      *ngIf="challenge.hasCodingChallenge"
      (click)="openCodingChallengeDialog(challenge.key)"
      [disabled]="challenge.solved === false"
      [ngClass]="{
        'partially-completed': challenge.codingChallengeStatus === 1,
        'completed': challenge.codingChallengeStatus === 2
      }"
      [matTooltip]="challenge.solved ? 'Launch associated coding challenge.' : 'You need to solve the hacking challenge before you can start the coding challenge.'"
    >
      <span class="badge-status" *ngIf="challenge.codingChallengeStatus !== 0">{{ challenge.codingChallengeStatus }}/2</span>
      <mat-icon>code</mat-icon>
    </button>
    <!-- info text if the challenge is unavailable -->
    <!-- todo(@J12934) implement -->
    <button class="badge" *ngIf="false">
      <mat-icon>info_outline</mat-icon>
    </button>
    <!-- cheat cheat link-->
    <a
      class="badge not-completable"
      *ngIf="challenge.mitigationUrl"
      [href]="challenge.mitigationUrl"
      target="_blank"
      rel="noopener noreferrer"
      matTooltip="Click to learn how to avoid or mitigate similar vulnerabilities!"
    >
      <mat-icon>policy_outline</mat-icon>
    </a>
    <!-- ctf mode flag repeat-->
    <button 
      class="badge"
      [ngClass]="{ 'completed': challenge.solved }"
      *ngIf="challenge.solved && applicationConfiguration.ctf.showFlagsInNotifications"
      (click)="repeatChallengeNotification(challenge.key)"
      [matTooltip]="'NOTIFICATION_RESEND_INSTRUCTIONS' | translate"
    >
      <mat-icon>flag_outline</mat-icon>
    </button>
    <!-- hacking instructor-->
    <button 
      class="badge not-completable"
      *ngIf="hasInstructions(challenge.name)"
      matTooltip="Start an interactive hacking tutorial for this challenge."
      (click)="startHackingInstructorFor(challenge.name)"
    >
      <mat-icon>school_outline</mat-icon>
    </button>
  </div>
</div>
