mat-toolbar {
    padding-bottom: 5px;
}

nav input{
    border: none;
    outline: none;
    color:#c8c8c8;
    background-color: inherit;
    margin-top: 6px;
    margin-right: 10px;
    height: 62px;
    margin-left: 30px;
}

nav input:focus{

    /*To align properly with nav links*/
    /*border-bottom:0.5px solid #a3a3a3;*/

}

.application-info {
    display: flex;
    flex-direction: column;
    margin-left:15px;
    font-size: 18px;
    text-decoration-line: none;
    color: #c8c8c8;
}

.application-info:hover {
    color: rgb(255, 255, 255);
}

.contact-dropdown {
    margin-right: 16px;
}

.language-select {
    width: 11%;
    margin-left: 10px;
}

::ng-deep .mat-select-value-text {
    font-size:15px;
}

mat-toolbar-row.second-toolbar-row {
    justify-content: space-around;
}

mat-icon img {
    margin-left: -15px;
    margin-top: -6px;
    max-height: 100px;
}
