<mat-toolbar class="mat-elevation-z6" color="primary" fxLayout="column" xmlns="http://www.w3.org/1999/html">

  <mat-toolbar-row fxLayout="row">
    
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/search">
      <img [src]="logoSrc" class="logo">
    </a>

    <span fxHide.lt-sm fxShow>{{applicationName}}</span>

    <span class="fill-remaining-space"></span>

    <mat-search-bar #searchControl id="searchQuery" (onEnter)="search(searchControl.value)"></mat-search-bar>

    <button [matMenuTriggerFor]="userMenu" mat-button style="vertical-align: middle;">
      <i class="material-icons">
        account_circle
      </i>
      <span fxHide.lt-sm fxShow> Account </span>
    </button>

    <mat-menu #userMenu="matMenu">
      <button *ngIf="!isLoggedIn()" mat-menu-item routerLink="/login">
        <i class="fas fa-sign-in-alt fa-lg"></i>
        {{"TITLE_LOGIN" | translate }}
      </button>
      <button (click)="goToProfilePage()" *ngIf="isLoggedIn()" mat-menu-item>
        <i class="fas fa-user-circle fa-lg"></i>
        {{userEmail}}
      </button>
      <button mat-menu-item *ngIf="isLoggedIn()" [matMenuTriggerFor]="subMenu">
        <i class="fas fa-user-secret fa-lg"></i>
        {{ "PRIVACY_AND_SECURITY" | translate }}
      </button>
      <button *ngIf="isLoggedIn()" mat-menu-item routerLink="/recycle">
        <i class="fas fa-recycle fa-lg"></i>
        {{"NAV_RECYCLE" | translate}}
      </button>
      <button *ngIf="isLoggedIn()" mat-menu-item routerLink="/track-order">
        <i class="fas fa-map-marker fa-lg"></i>
        {{"TITLE_TRACK_ORDERS" | translate}}
      </button>
      <button (click)="logout()" *ngIf="isLoggedIn()" mat-menu-item>
        <i class="fas fa-sign-out-alt fa-lg"></i>
        {{"TITLE_LOGOUT" | translate }}
      </button>
    </mat-menu>

    <button *ngIf="isLoggedIn()" fxHide.lt-lg fxShow mat-button routerLink="/basket">
      <i class="fas fa-shopping-cart fa-lg"></i>
      {{"TITLE_BASKET" | translate}}
    </button>

    <button [matMenuTriggerFor]="menu" mat-button>
      <i class="material-icons">
        language
      </i>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="true">
      <button (click)="changeLanguage(language.key)" *ngFor="let language of languages" [value]="language"
              mat-menu-item>
        <span *ngFor="let icon of language.icons" [class]="'flag-icon flag-icon-' + icon"></span>
        {{language?.lang}}
        <i [class]="'fas fa-thermometer-' + language.gauge + (language.percentage > 70 ? ' confirmation' : ' error')"></i>
      </button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
      <button mat-menu-item [routerLink]="['privacy-security/privacy-policy']"><span translate>TITLE_PRIVACY_POLICY</span></button>
      <button mat-menu-item [routerLink]="['privacy-security/two-factor-authentication']"><span translate>TITLE_TWO_FACTOR_AUTHENTICATION</span></button>
      <button mat-menu-item [routerLink]="['privacy-security/change-password']"><span translate>TITLE_CHANGE_PASSWORD</span></button>
      <button mat-menu-item [routerLink]="['privacy-security/last-login-ip']"><span translate>LAST_LOGIN_IP</span></button>
      <button mat-menu-item [routerLink]="['privacy-security/data-export']"><span translate>TITLE_REQUEST_DATA_EXPORT</span></button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
