mat-form-field {
	width: 100%;
}

.btn-new-address {
	display: block;
	width: 100%;
}

mat-card {
	height: auto;
}

.main-wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

.mat-expansion-panel-header-description {
	flex-basis: 0;
}

.mat-raised-button {
	margin-right: 3px;
}

.custom-card {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.card-title {
	font-size: 15px;
}