<span class="category-row">{{ challenge.category }}</span>

<div class="name-row">
  <div class="dot"></div>
  <span class="name">{{ challenge.name }}</span>
  <difficulty-stars
    [difficulty]="challenge.difficulty"
  ></difficulty-stars>
</div>
<div class="description-row" [innerHtml]="challenge.description"></div>
<div class="bottom-row">
  <div class="tags">
    @for (tag of challenge.tagList; track tag) {
      <span class="tag" [matTooltip]="('TAG_' + tag?.toUpperCase().split(' ').join('_') + '_DESCRIPTION' | translate)">{{ tag }}</span>
    }
  </div>
  <div class="badge-group">
    <!-- info text if the challenge is unavailable -->
    @if (challenge.disabledEnv !== null && challenge.disabledEnv !== 'safetyMode') {
      <button
        class="badge"
        [matTooltip]="'CHALLENGE_UNAVAILABLE' | translate:{ env: challenge.disabledEnv }"
        >
        <mat-icon [style.color]="'var(--theme-warn)'">info_outline</mat-icon>
      </button>
    }
    @if (challenge.disabledEnv === 'safetyMode') {
      <button
        class="badge"
        [matTooltip]="'CHALLENGE_UNAVAILABLE_SAFETYMODE'| translate:{ env: challenge.disabledEnv}"
        >
        <mat-icon [style.color]="'var(--theme-warn)'">info_outline</mat-icon>
      </button>
    }
    <!-- coding challenge badge -->
    @if (applicationConfiguration.challenges.codingChallengesEnabled !== 'never' && challenge.hasCodingChallenge) {
      <button
        class="badge"
        (click)="openCodingChallengeDialog(challenge.key)"
        [disabled]="challenge.solved === false && applicationConfiguration.challenges.codingChallengesEnabled !== 'always'"
      [ngClass]="{
        'partially-completed': challenge.codingChallengeStatus === 1,
        'completed': challenge.codingChallengeStatus === 2
      }"
        [matTooltip]="(challenge.solved ? 'LAUNCH_CODING_CHALLENGE' : 'SOLVE_HACKING_CHALLENGE') | translate"
        >
        @if (challenge.codingChallengeStatus !== 0) {
          <span class="badge-status">{{ challenge.codingChallengeStatus }}/2</span>
        }
        <mat-icon>code</mat-icon>
      </button>
    }
    <!-- mitigation link-->
    @if (challenge.mitigationUrl && challenge.solved) {
      <a
        class="badge not-completable"
        [href]="challenge.mitigationUrl"
        target="_blank"
        rel="noopener noreferrer"
        [matTooltip]="'INFO_VULNERABILITY_MITIGATION_LINK' | translate"
        aria-label="Vulnerability mitigation link"
        >
        <mat-icon>policy_outline</mat-icon>
      </a>
    }
    <!-- ctf mode flag repeat-->
    @if (challenge.solved && applicationConfiguration.ctf.showFlagsInNotifications) {
      <button
        class="badge"
        [ngClass]="{ 'completed': challenge.solved }"
        (click)="repeatChallengeNotification(challenge.key)"
        [matTooltip]="'NOTIFICATION_RESEND_INSTRUCTIONS' | translate"
        >
        <mat-icon>flag_outline</mat-icon>
      </button>
    }
    <!-- hacking instructor-->
    @if (applicationConfiguration.hackingInstructor.isEnabled && hasInstructions(challenge.name)) {
      <button
        class="badge not-completable"
        [matTooltip]="'INFO_HACKING_INSTRUCTOR' | translate"
        (click)="startHackingInstructorFor(challenge.name)"
        >
        <mat-icon>school_outline</mat-icon>
      </button>
    }
    <!-- challenge hints  -->
    @if (challenge.hintsAvailable > 0) {
      <button
        class="badge not-completable"
        [style.padding]="'0 6px 0 4px'"
        [matTooltip]="challenge.hintText + (challenge.nextHint ? '\n\n' + ('CLICK_TO_UNLOCK_NEXT_HINT' | translate: { next: challenge.hintsUnlocked+1, total: challenge.hintsAvailable}) : '')"
        matTooltipClass="multiline-tooltip"
        (click)="unlockHint(challenge.nextHint)"
        [disabled]="!challenge.nextHint"
        >
        <mat-icon>{{ challenge.nextHint ? 'lightbulb_outlined' : 'lightbulb' }}</mat-icon>
        {{ challenge.hintsUnlocked }}/{{ challenge.hintsAvailable }}
      </button>
    }
  </div>
</div>
