<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">

  <div class="whitepaper-container offer-container" fxFlexAlign="center">

    <div class="heading">
      <span translate>TITLE_TOKENSALE</span>
      <small style="margin-left: 10px;" translate>SECTION_ICO</small>
    </div>

    <div class="whitepaper-box">
    </div>

    <div class="offer-box">
      <div class="heading">
        <span translate>SECTION_SALES_PITCH</span>
      </div>
    </div>

  </div>

  <div class="faq-container" fxFlexAlign.lt-md="center">
      <div class="heading">
        <span translate>ICO_FAQ</span>
      </div>
    </div>
  </div>

  <img src="/assets/public/images/tracking/tokensale.png"/>
</div>


