<main>
  <section class="sandbox-container mat-elevation-z6">
    <section class="sandbox-container_body">
      <section class="sandbox-container_body_left">
        <header class="editor-title">{{"TITLE_CONTRACT_EDITOR" | translate}}</header>
        <ngx-codemirror [(ngModel)]="code" [options]="editorOptions"></ngx-codemirror>
      </section>
      <section class="sandbox-container_body_right">
        <section class="playground-wallet">
          <section class="metamask-button">
            <button mat-raised-button color="accent" type="button" (click)="handleAuth()">
              @if (session) {
              <span>{{ userData.address.substring(0, 6) }}...{{ userData.address.slice(-6) }}</span>
              } @else {
              <span>{{"BTN_CONNECT_METAMASK" | translate}}</span>
              }
            </button>
          </section>
        </section>
        <h2 translate>TITLE_WEB3_SANDBOX</h2>
        <ul>
          <li translate>EXPLANATION_SMART_CONTRACT_DEPLOYMENT</li>
          <li translate>EXPLANATION_GWEI_VALUE_POST_COMPILATION</li>
        </ul>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>{{ "LABEL_SELECT_COMPILER_VERSION" | translate}}</mat-label>
          <select matNativeControl [(ngModel)]="selectedCompilerVersion">
            @for (version of compilerVersions; track version) {
            <option [value]="version">
              {{ version }}
            </option>
            }
          </select>
        </mat-form-field>
        <button type="button" mat-raised-button (click)="compileAndFetchContracts(code)">
          <mat-icon>build</mat-icon>
          {{ "BTN_COMPILE_CONTRACT" | translate}}
        </button>
        @if (compilerErrors.length > 0) {
        <section class="error-container mat-elevation-z6">
          <header>
            <h4>Compiler Errors:</h4>
          </header>
          <ul>
            @for (error of compilerErrors; track error) {
            <li class="error">
              {{ error.formattedMessage }}
            </li>
            }
          </ul>
        </section>
        }
        @if (compiledContracts) {
        <section>
          <h3 class="contracts-title">{{ "TITLE_CONTRACT_DEPLOYMENT" | translate}}</h3>
          <section class="form-fields-container">
            <mat-form-field class="contract-selector" appearance="outline" color="accent">
              <mat-label>{{ "LABEL_COMPILED_CONTRACTS" | translate}}</mat-label>
              <select matNativeControl [(ngModel)]="selectedContractName">
                @for (contractName of contractNames; track contractName) {
                <option [value]="contractName">
                  {{ contractName }}
                </option>
                }
              </select>
            </mat-form-field>
            <mat-form-field class="gwei-input" appearance="outline" color="accent">
              <mat-label>{{ "GWEI_VALUE_FOR_SENDING_ETH" | translate }}</mat-label>
              <input matInput type="number" [(ngModel)]="commonGweiValue" />
            </mat-form-field>
          </section>
          <button mat-raised-button type="button" (click)="deploySelectedContract()">
            <mat-icon>link</mat-icon>
            {{ "BTN_DEPLOY_SELECTED_CONTRACT" | translate}}
          </button>
        </section>
        }
        @if (deployedContractAddress) {
        <p class="deployedaddresstext">
          {{ "LABEL_CONTRACT_ADDRESS" | translate }} {{ deployedContractAddress }}
        </p>
        }
        @if (deployedContractAddress) {
        <section class="invokecontainer mat-elevation-z6">
          <header>
            <h3 translate>TITLE_INTERACT_WITH_CONTRACT</h3>
          </header>
          @for (func of contractFunctions; track func) {
          <section>
            <section class="function-container">
              @if (func.inputs.length > 0) {
              <section class="functionwtext-container">
                <button mat-raised-button type="button" (click)="invokeFunction(func)">
                  <mat-icon>call_to_action</mat-icon>
                  {{ "BTN_INVOKE" | translate: {name: func.name} }}
                </button>
                <mat-form-field appearance="outline" color="accent">
                  <textarea matAutosizeMinRows="4" matAutosizeMaxRows="4" matTextareaAutosize matInput
                    placeholder="({{ func.inputHints }})" [(ngModel)]="func.inputValues"></textarea>
                </mat-form-field>
              </section>
              @if (func.outputValue !== '') {
              <p class="invoke-output">
                {{ "LABEL_OUTPUT_FOR" | translate: {name: func.name} }}: {{ func.outputValue }}
              </p>
              }
              } @else {
              <section>
                <button mat-raised-button type="button" (click)="invokeFunction(func)">
                  <mat-icon>call_to_action</mat-icon>
                  {{ "BTN_INVOKE" | translate: {name: func.name} }}
                </button>
                @if (func.outputValue !== '') {
                <p class="invoke-output">
                  {{ "LABEL_OUTPUT_FOR" | translate: {name: func.name} }}: {{ func.outputValue }}
                </p>
                }
              </section>
              }
            </section>
          </section>
          }
          <section class="output-container mat-elevation-z6">
            @if (invokeOutput !== '') {
            <p>{{ "LABEL_OUTPUT" | translate}}: {{ invokeOutput }}</p>
            }
          </section>
        </section>
        }
      </section>
    </section>
    <img src="assets/public/images/padding/11px.png" />
  </section>
</main>