<button
  id="{{challenge.name + '.' + (challenge.disabledEnv ? 'unavailable' : (challenge.solved ? 'solved' : 'notSolved'))}}"
  mat-raised-button [color]="challenge.solved ? 'accent': 'primary'"
  (click)="challenge.disabledEnv ? noop() : (challenge.solved ? repeatNotification() : openHint())"
  matTooltip="{{challenge.disabledEnv ? challenge.hint : (challenge.solved ? (allowRepeatNotifications ? ('NOTIFICATION_RESEND_INSTRUCTIONS' | translate) : null) : (showChallengeHints ? challenge.hint : null))}}"
  matTooltipPosition="above">
            <span class="{{challenge.disabledEnv ? 'unavailable' : (challenge.solved ? 'solved' : 'not-solved')}}">
              <i
                class="{{challenge.disabledEnv ? ('icon-' + challenge.disabledEnv?.toLowerCase()) : (challenge.solved ? 'far fa-flag' : 'fas fa-book')}}"
                aria-hidden="true"
                [hidden]="!challenge.disabledEnv && ((challenge.solved && !allowRepeatNotifications) || (!challenge.solved && (!showChallengeHints || !challenge.hintUrl)))"></i>
              {{challenge.disabledEnv ? ('STATUS_UNAVAILABLE' | translate) : (challenge.solved ? ('STATUS_SOLVED' | translate) : ('STATUS_UNSOLVED' | translate))}}
            </span>
</button>
