<button *ngIf="!challenge.disabledEnv && challenge.solved"
        [id]="challenge.name + '.solved'"
        mat-raised-button color="accent"
        (click)="repeatNotification()"
        [matTooltip]="allowRepeatNotifications ? ('NOTIFICATION_RESEND_INSTRUCTIONS' | translate) : null"
        matTooltipPosition="above">
            <mat-icon [hidden]="!allowRepeatNotifications">flag</mat-icon>
            <span>{{'STATUS_SOLVED' | translate}}</span>
</button>

<button *ngIf="!challenge.disabledEnv && !challenge.solved"
        [id]="challenge.name + '.notSolved'"
        mat-raised-button color="primary"
        (click)="openHint()"
        [matTooltip]="showChallengeHints ? challenge.hint : null"
        matTooltipPosition="above">
            <mat-icon [hidden]="!showChallengeHints || !challenge.hintUrl">book</mat-icon>
            <span>{{'STATUS_UNSOLVED' | translate}}</span>
</button>

<button *ngIf="challenge.disabledEnv" [id]="challenge.name + '.unavailable'" mat-raised-button
        [matTooltip]="challenge.hint" matTooltipPosition="above">
  <span>
    <i class="{{ 'icon-' + challenge.disabledEnv?.toString().toLowerCase() }}"></i>
    {{'STATUS_UNAVAILABLE' | translate}}
  </span>
</button>
