<div fxLayoutAlign="center">
    <div class="table-container custom-slate">
       <div class="heading mat-elevation-z6">
          <span>{{"TITLE_SELECT_ADDRESS" | translate}} </span>
       </div>
       <mat-grid-list #table [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="30px">
       <mat-grid-tile>
          <mat-card [style.width]="'100%'" class="mat-elevation-z6">
             <button mat-raised-button mat-button class="btn btn-new-address" color="primary" aria-label="Add to Basket" routerLink="/address/create">
             <span translate>ADD_NEW_ADDRESS</span>
             </button>
          </mat-card>
       </mat-grid-tile>
       <mat-grid-tile *ngFor="let record of gridDataSource | async">
          <mat-card [style.width]="'100%'" class="mat-elevation-z6">
             <div class="address">
                <div fxFlexAlign="left">
                   <div class="record-name">
                      <b>{{record.fullName}}</b>
                   </div>
                   <div class="record-address">
                      {{record.streetAddress}}, {{record.city}}, {{record.state}}, {{record.pinCode}}
                   </div>
                   <div>{{record.country}}</div>
                </div>
             </div>
             <div fxFlexAlign="center" class="btn-div">
                <button mat-raised-button mat-button class="btn btn-address" color="primary" aria-label="Add to Basket">
                <span translate>USE_THIS_ADDRESS</span>
                </button>
                <button mat-raised-button mat-button class="btn btn-edit" aria-label="Add to Basket" [routerLink]="['/address/edit', record.id]">
                <span translate>BTN_EDIT</span>
                </button>
                <button mat-raised-button mat-button class="btn btn-delete" aria-label="Add to Basket" (click)="deleteAddress(record.id)">
                <span translate>BTN_DELETE</span>
                </button>
             </div>
          </mat-card>
       </mat-grid-tile>
       </mat-grid-list>
    </div>
 </div>
 