mat-card{
  height: auto;
  min-width: 320px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#submitButton{
  float: right;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 16px;
}

.radio-label {
  font-weight: 500;
  margin-right: 8px;
}

.captcha-image {
  float: left;
}
