mat-card {
  display: block;
  height: auto;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 25%;
}

#submitButton {
  margin-left: 20%;
  width: 60%;
}

.hint {
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin-top: 5px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-bottom: 16px;
  margin-left: 16px;
}

.radio-label {
  font-weight: 500;
  margin-right: 8px;
}

.captcha-image {
  float: left;
  margin-bottom: 10px;
  margin-top: 20px;
}
