<div fxLayoutAlign="center">
    <mat-card>  
      <h3 translate>TITLE_REQUEST_DATA_EXPORT</h3>
        <div *ngIf="confirmation"><p class="confirmation">{{confirmation}}</p></div>
        <div *ngIf="error"><p class="error">{{error}}</p></div>
        <div class="form-container" id="data-export-form">
            <mat-radio-group id="formatControl" [formControl]="formatControl">
                <label class="radio-label" translate>EXPORT_LABEL</label>
                <mat-radio-button value="1">JSON</mat-radio-button>
                <mat-radio-button value="2">PDF</mat-radio-button>
                <mat-radio-button value="3">Excel</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="presenceOfCaptcha">
                <div class="captcha-image" [innerHTML]="captcha"></div>
                <mat-form-field appearance="outline">
                    <mat-label translate [translateParams]="{length: '5'}">TYPE_THESE_LETTERS</mat-label>
                    <input [formControl]="captchaControl" type="text" matInput>
                    <mat-error *ngIf="captchaControl.invalid && captchaControl.errors.required" translate>MANDATORY_CAPTCHA</mat-error>
                </mat-form-field>
            </div>
        </div>
        <button type="submit" id="submitButton" color="primary" mat-raised-button (click)="save()" [disabled]="formatControl.invalid || (captchaControl.invalid && presenceOfCaptcha)">
            <i class="fas fa-paper-plane fa-lg"></i> {{'BTN_REQUEST' | translate}}
        </button>
    </mat-card>
</div>
