mat-card{
    left:10%;
    margin-top:50px;
    width:45%;
    height:fit-content;
}

mat-form-field{
    padding-top:10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    margin-top:5px;
}

.recycle-container {
    display:flex;
}

.card-container {
    margin-top: 50px;
    margin-left: 20%;
}

.card-container mat-card {
    left: 0;
    height: 198px;
    width: 214px;
}

.card-container mat-card img {
    height: 110px;
}

mat-card.form-card {
    width:40%;
}
