.container {
  margin-left: 16.677%;
  margin-top: 40px;
  width: 70%;
}

mat-card {
  margin-bottom: 20px;
  margin-top: 30px;
}

.heading {
  background: rgba(0, 0, 0, 0.13);
  justify-content: center;
  padding: 12px 20px;
}

.mat-row {
  padding-bottom: 10px;
}

.mat-column-description {
  margin-left: 20px;
  min-width: 309px;
}

.mat-column-price {
  margin-left: 20px;
}

.mat-column-quantity button mat-button-toggle {
  width: 20px;
}

mat-form-field {
  margin-top: 15px;
  width: 100%;
}

mat-expansion-panel {
  margin-bottom: 20px;
}

.button-container button mat-button-toggle {
  margin-right: 20px;
  margin-top: 10px;
}

.payment-label {
  padding-top: 10px;
}
