$bg-heading: rgba(0, 0, 0, .2);

.heading {
  background: $bg-heading;
  font-size: x-large;
  justify-content: center;
  padding: 12px 20px;
}

.main-wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

.img-thumbnail {
  width: 100%;
  border: 0px;
  background: none;
}

.btn-member {
  bottom: 10%;
}

.item-description {
  font-size: initial;
  margin-top: 12px;
  text-align: center;
}

.item-name {
  font-size: large;
  text-align: center;
}