mat-card, mat-expansion-panel,footer {
    margin: 35px;
}

.star-container,mat-table {
    margin-top: 25px;
}

.star-container svg:hover {
    cursor: pointer;
}

.mat-column-description {
    flex: 2;
}

.mat-column-status button {
    cursor: initial;
}

.mat-column-status button span {
    cursor: pointer;
}
