<warning-card>
  <mat-icon warning-icon>texture</mat-icon>
  <span warning-text>
    <ng-container *ngIf="!applicationConfig?.application?.showGitHubLinks; else noticeWithLinks">
      {{ 'SCORE_BOARD_LEGACY_NOTICE_NO_CONTACT' | translate }}
    </ng-container>
    <ng-template #noticeWithLinks>
      <span [innerHTML]="'SCORE_BOARD_LEGACY_NOTICE_WITH_CONTACT' | translate"></span>
    </ng-template>
  </span>
  <a warning-action mat-button routerLink="/score-board-legacy">
    {{ 'SCORE_BOARD_LEGACY_BACK' | translate }}
  </a>
</warning-card>
