:host {
  background-color: var(--theme-background-dark);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto min-content;
  height: 100%;
  overflow: visible;

  // styles for the bottom expand group
  position: relative;

  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.score-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0 16px 16px;

  .score {
    color: var(--theme-text);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;

    margin-bottom: 0;
  }

  .fraction-total {
    color: var(--theme-text-dark);
    font-size: 16px;
    line-height: 26px;
  }

  .category {
    color: var(--theme-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
  }
}

.progress-bar-container {
  background-color: var(--theme-background-lighter);
  border-radius: 3px;
  max-width: 200px;
  overflow: hidden;

  .progress-bar {
    background-color: var(--theme-accent);
    height: 8px;
  }
}

.hover-group {
  background: var(--theme-background-dark);
  border-radius: 0 0 4px 4px;
  border-top: 1px solid var(--theme-background-lighter);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(100%);
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 10;
}

.hover-content {
  padding: 8px 16px;
}

:host(:hover) .hover-group {
  opacity: 1;
  pointer-events: auto;
  pointer-events: auto;
  transform: translateY(0);
}
