.table-container {
    display: flex;
    position:relative;
    flex-direction: column;
    max-height: 600px;
    margin-top:40px;
    margin-left: 16.677%;
    width: 72.666667%;
  }

.heading {
    justify-content: center;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.13);
}

  .mat-table {
    overflow: auto;
    max-height: 600px;
  }


.img-thumbnail{
    max-width: 70%;
    height: 61px;
    cursor:pointer;
}

.mat-column-Description{
    min-width:400px;
    max-width:560px;
}

.mat-column-Product{
    min-width:100px;
    max-width:140px;
    padding-right: 40px;
}

.mat-column-Image{
    min-width:100px;
    max-width:100px;
}

.mat-column-Select{
    max-width:60px;
}

.mat-column-Price{
    max-width:65px;
    padding-left:20px;
}
