.table-container {
  margin: 70px;
  min-width: 650px;
}

.heading {
  background: rgba(0, 0, 0, 0.13);
  justify-content: center;
  padding: 12px 20px;
}

.img-thumbnail {
  cursor: pointer;
  height: 61px;
  max-width: 70%;
}

.mat-column-Description {
  flex: 5;
}

.mat-column-Product {
  flex: 1.2;
}

.mat-column-Image {
  flex: .8;
}

.mat-column-Select {
  flex: .5;
}

.mat-column-Price {
  flex: .5;
}
