.table-container {
    min-width: 350px;
    width: 80%;
}

.heading {
    background: rgba(0,0,0,.2);
    justify-content: center;
    padding: 12px 20px;
    font-size: x-large;
}

.img-thumbnail {
    height: auto;
    max-width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 145px;
}

.img-container {
   height: 130px;
}

.product {
  cursor: pointer;
}

.btn-basket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

mat-card {
  height: calc(100% - 70px);
}

.item-price {
    text-align: center;
    margin-top: 12px;
}

.item-name {
    text-align: center;
    margin-top: 25px;
}

.emptyState{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.noResult{
  width: 60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.noResultText{
  text-align: center;
  display:block;
  margin-top: 10px;
}
