.table-container {
    display: flex;
    position:relative;
    flex-direction: column;
    max-height: 600px;
    min-width: 800px;
    max-width:842px;
    margin-top:40px;
    margin-left: 16.677%;
    width: 66.66666667%;
  }

  .mat-table {
    overflow: auto;
    max-height: 600px;
  }


.img-thumbnail{
    max-width: 70%;
    height: 61px;
    cursor:pointer;
}

.mat-column-Description{
    min-width:400px;
    max-width:560px;
}

.mat-column-Product{
    min-width:100px;
    max-width:140px;
    padding-right: 40px;
}

.mat-column-Image{
    min-width:100px;
    max-width:100px;
}

.mat-column-Select{
    max-width:50px;
}

.mat-column-Price{
    max-width:65px;
    padding-left:20px;
}
