.table-container {
  min-width: 350px;
  width: 80%;
}

.heading {
  background: rgba(0,0,0,.2);
  justify-content: center;
  padding: 12px 20px;
  font-size: x-large;
}

.img-thumbnail {
  height: auto;
  max-width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 145px;
}

.img-container {
   height: 130px;
}

.product {
  cursor: pointer;
}

.btn-basket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

mat-card {
  height: calc(100% - 70px);
}

.item-price {
  text-align: center;
  margin-top: 12px;
}

.item-name {
  font-size: initial;
  text-align: center;
  margin-top: 25px;
}

.emptyState{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto !important;
}

.noResult{
  width: 60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.noResultText{
  text-align: center;
  display:block;
  margin-top: 10px;
}

.ribbon-card{
  position: relative;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
