.table-container {
  min-width: 350px;
  width: 80%;
}

.heading {
  background: rgba(0,0,0,.2);
  justify-content: center;
  padding: 12px 20px;
  font-size: x-large;
}

.img-thumbnail {
  width: 100%;
}


.product {
  cursor: pointer;
}

.btn-basket {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  height: calc(100% - 70px);
}

.item-price {
  text-align: center;
  margin-top: 12px;
  font-size: initial;
}

.item-name {
  font-size: large;
  text-align: center;
}

.emptyState{
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto !important;
}

.noResult{
  width: 60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.noResultText{
  text-align: center;
  display:block;
  margin-top: 10px;
}
