@import '~ng2-bar-rating/themes/br-default-theme.css';
@import 'theme';

@mixin link-theme($theme) {
  a:link,
  a:visited {
    color: mat-color(map-get($theme, accent), lighter);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

@mixin notification-theme($theme) {
  .confirmation {
    color: mat-color(map-get($theme, accent));
  }

  .error {
    color: mat-color(map-get($theme, warn));
  }
}

@mixin image-thumbnail-theme($theme) {
  .img-thumbnail {
    background-color: mat-color(map-get($theme, primary), .05);
    border: 1px solid mat-color(map-get($theme, primary));
    border-radius: 3px;
    padding: 3px;
  }
}

@mixin important-box-theme($theme) {
  .important-box {
    background-color: mat-color(map-get($theme, primary), darker);
  }
}

@mixin custom-components-theme($theme) {
  @include link-theme($theme);
  @include notification-theme($theme);
  @include image-thumbnail-theme($theme);
  @include important-box-theme($theme);
}

.deeppurple-amber-theme {
  @include angular-material-theme($deeppurple-amber-theme);
  @include custom-components-theme($deeppurple-amber-theme);
}

.indigo-pink-theme {
  @include angular-material-theme($indigo-pink-theme);
  @include custom-components-theme($indigo-pink-theme);
}

.pink-bluegrey-theme {
  @include angular-material-theme($pink-bluegrey-theme);
  @include custom-components-theme($pink-bluegrey-theme);
}

.purple-green-theme {
  @include angular-material-theme($purple-green-theme);
  @include custom-components-theme($purple-green-theme);
}

.close-dialog {
  float: right;
  margin-top: 15px;
  width: fit-content;
}
