@import '~@angular/material/theming';

@include mat-core;

$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent: mat-palette($mat-amber, 700, 600, 800);
$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

$pink-bluegrey-primary: mat-palette($mat-pink, 700, 500, 900);
$pink-bluegrey-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

$purple-green-primary: mat-palette($mat-purple, 700, 500, 800);
$purple-green-accent: mat-palette($mat-green, A200, A100, A400);
$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);

$blue-lightblue-primary: mat-palette($mat-blue, 700, 400, 800);
$blue-lightblue-accent: mat-palette($mat-light-blue, 700, 600, 800);
$blue-lightblue-theme: mat-light-theme($blue-lightblue-primary, $blue-lightblue-accent);

$bluegrey-lightgreen-primary: mat-palette($mat-blue-grey, 800, 500, 900);
$bluegrey-lightgreen-accent: mat-palette($mat-light-green, 700, 300, 800);
$bluegrey-lightgreen-warn: mat-palette($mat-deep-orange);
$bluegrey-lightgreen-theme: mat-dark-theme($bluegrey-lightgreen-primary, $bluegrey-lightgreen-accent, $bluegrey-lightgreen-warn);

$deeporange-indigo-primary: mat-palette($mat-deep-orange, 700, 500, 900);
$deeporange-indigo-accent: mat-palette($mat-indigo, 900, 300, A100);
$deeporange-indigo-theme: mat-light-theme($deeporange-indigo-primary, $deeporange-indigo-accent);
