@import '~@angular/material/theming';

@include mat-core();

$slate-primary: mat-palette($mat-blue-grey,900);
$slate-accent : mat-palette($mat-grey,800);
$slate-danger   : mat-palette($mat-red);
$slate-theme  : mat-dark-theme($slate-primary,$slate-accent,$slate-danger);

.slate {

    .img-thumbnail {
        background-color: #1c1e22;
        border: 1px solid #0c0d0e;
        border-radius: 4px;
        padding: 4px;
    }

    .mat-input-element {
        background-color: inherit;
    }

    @include angular-material-theme($slate-theme)
}

$paper-primary: mat-palette($mat-grey,50);
$paper-secondary: mat-palette($mat-blue,500);
$paper-warn:    mat-palette($mat-red);
$paper-theme :mat-light-theme($paper-primary,$paper-secondary,$paper-warn);

.paper {
    @include angular-material-theme($paper-theme);
}

$cerulean-primary: mat-palette($mat-blue,600);
$cerulean-secondary: mat-palette($mat-blue,50);
$cerulean-warn: mat-palette($mat-red);
$cerulean-theme: mat-light-theme($cerulean-primary,$cerulean-secondary,$cerulean-warn);

.cerulean {

    @include angular-material-theme($cerulean-theme);
}

$cosmo-primary: mat-palette($mat-blue-grey, 900);
$cosmo-accent:  mat-palette($mat-blue,800);
$cosmo-warn:    mat-palette($mat-red);
$cosmo-theme: mat-light-theme($cosmo-primary, $cosmo-accent, $cosmo-warn);

.cosmo {
    nav .mat-raised-button.mat-accent {
        background-color: inherit;
    }

    mat-card .mat-raised-button.mat-primary {
        background-color: mat-color($cosmo-accent)
    }
    @include angular-material-theme($cosmo-theme);
}

$cyborg-primary: mat-palette($mat-grey, 900);
$cyborg-secondary: mat-palette($mat-blue,800);
$cyborg-warn: mat-palette($mat-red);
$cyborg-theme: mat-dark-theme($cyborg-primary,$cyborg-secondary,$cyborg-warn);

.cyborg {

    .img-thumbnail {
        background-color: #1c1e22;
        border: 1px solid #0c0d0e;
        border-radius: 4px;
        padding: 4px;
    }

    mat-sidenav-content {
        background-color: mat-color($cyborg-primary);
    }

    nav .mat-raised-button.mat-accent {
        background-color: inherit;
    }

    mat-card .mat-raised-button.mat-primary {
        background-color: mat-color($cyborg-secondary)
    }

    mat-row:nth-child(odd) , mat-header-row {
        background-color: mat-color($cyborg-primary);
    }

    @include angular-material-theme($cyborg-theme);
}
