@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-pink, 700, 500, 900);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
