.heading {
  background: rgba(0, 0, 0, .2);
  font-size: x-large;
  justify-content: center;
  padding: 12px 20px;
}

mat-form-field {
  width: 100%;
}

.mat-expansion-panel-header-description {
  flex-basis: 0;
}
