<mat-card>
  <div class="container" fxLayout="column" fxLayoutGap="20px">
    <div class="detail-container offer-container warning-container" fxFlexAlign="center">
      Note: Never reveal your personal private keys and seed phrase to anyone
    </div>
    <div class="detail-container offer-container" fxFlexAlign="center" fxLayout="row" fxLayout.lt-lg="column">
      <div>
        <img src="assets/public/images/products/juicy_chatbot.jpg" />
      </div>
      <div *ngIf="!successResponse">
        <div>
          <mat-card-title>Juicy Chatbot SBT</mat-card-title>
        </div>
        <div>Enter the private key of the first account derived from the seed phrase to access me on Ethereum.</div>
        <form (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="privateKey">Private Key</label>
            <input type="text" class="form-control" id="privateKey" [(ngModel)]="privateKey" name="privateKey" required>
          </div>
          <h5 class="error-text">{{errorMessage}}</h5>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div *ngIf="successResponse">
        <div>
          <mat-card-title>Juicy Chatbot SBT</mat-card-title>
        </div>
        <div class="owner-text">
          Owned by
          <a target="_blank" href="https://testnets.opensea.io/0x8343d2eb2B13A2495De435a1b15e85b98115Ce05">8343D2</a>
        </div>
        <div class="divider"></div>

        <div class="detail-box">
          <div class="box-title">Account Address</div>
          <mat-divider class="detail-divider"></mat-divider>
          <p class="box-text">0x8343d2eb2B13A2495De435a1b15e85b98115Ce05</p>
        </div>
        <div class="detail-box">
          <div class="box-title">Description</div>
          <mat-divider class="detail-divider"></mat-divider>
          <p class="box-text">
            Hurray! Find the Juice Shop SBT on
            <a target="_blank" href="https://testnets.opensea.io/assets/mumbai/0xf4817631372dca68a25a18eb7a0b36d54f3dbcf7/0">Opensea here.</a>
            This is a non-transferable token and is here to stay forever.
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>