.container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.heading {
    justify-content: center;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.13);
    margin-bottom: 10px;
}

.user-container.recycle-container {
    margin-left:1.7%;
}

.customer-container {
    margin-left: 5%;
    margin-right: 10px;
}

.user-table,.recycle-table {
    margin-bottom: 25px;
}

.mat-column-icon svg, .mat-column-user_detail button {
    margin-left: 38%;
}

mat-cell, mat-footer-cell, mat-header-cell {
    display: block;
    align-items: normal;
}

.mat-column-comment {
    padding: 10px;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
    padding-right: 50px;
}
