:host {
    display: grid;
    grid-template-columns: auto min-content;
    height: 100%;
    background-color: #292929;
    border-radius: 4px;
}

.score-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0 16px 16px;

  .score {
    font-style: normal;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;

    color: #ffffff;

    margin-bottom: 0;

    .fraction-total {
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.5);
    }
  }
  .category {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: rgba(255, 255, 255, 0.75);
  }
}