$vertical-margin: 4px;
$vertical-padding: 8px;

:host {
  // use 2 columns ipads and smaller
  @media (max-width: 810px) {
    grid-column: span 2;
  }
  @media (max-width: 600px) {
    grid-column: span 1;
  }
}

.star-group {
  background-color: var(--theme-background-darkest);
  border-radius: 4px;
  column-gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: calc(100% - (2 * $vertical-margin + 2 * $vertical-padding));

  margin: $vertical-margin 4px;

  padding: $vertical-padding 12px;
  row-gap: 2px;

  color: var(--theme-text);
  
  .star-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .total-challenges {
    color: var(--theme-text-invert-30);
  }
}
