.btn-pay {
  display: block;
  width: 100%;
}

mat-card {
  height: auto;
  margin-top: 20px;
}

.main-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.mat-raised-button {
  margin-right: 3px;
  margin-top: 3px;
}
