.btn-new-address {
	display: block;
	width: 100%;
}

.heading {
	background: rgba(0,0,0,.2);
	font-size: x-large;
}

.heading-text {
	justify-content: center;
	padding: 12px 20px;
}

.font-class {
	font-size: 15px;
	padding: 12px 10px;
}

.div-boundary {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}