@import '~highlight.js/styles/vs.css';

#emphasize {
  float: left;
  padding: 1em 0.5em;
}

.lineMarker {
  color: #fff; // needs to be completly white, otherwise the emojis colors just look dull
  cursor: pointer;
}
