@import '~highlight.js/styles/pojoaque.css';
// @import '~highlight.js/styles/androidstudio.css';
// @import '~highlight.js/styles/monokai.css';
#emphasize {
  float: left;
  padding: 0.5em;
}

#code {
  width: 50em;
  // height: 50em;
}

.lineMarker {
  cursor: pointer;
}
