<div class="row">
    <div class="col-md-4">
        <h3 class="page-header page-header-sm">Administration <small>User</small></h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="UserController">
            <tr>
                <th></th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="user in users">
                <td class="col-md-1"><i ng-show="user.token" class="glyphicon glyphicon-user"></i></td>
                <td><div ng-bind-html="user.email"></div></td>
                <td class="col-md-1">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="showDetail(user.id)"><i class="glyphicon glyphicon-eye-open"></i></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="col-md-4">
        <h3 class="page-header page-header-sm"><small>Feedback</small></h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="FeedbackController">
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Rating</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="feedback in feedbacks">
                <td>{{feedback.UserId}}</td>
                <td><div ng-bind-html="feedback.comment"></div></td>
                <td class="col-md-2">
                    <rating max="5" ng-model="feedback.rating" readonly="true"></rating>
                </td>
                <td class="col-md-1">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="delete(feedback.id)"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </td>
            </tr>
        </table>
        <img src="/public/images/tracking/administration.png"/>
    </div>
</div>