<div class="row">
    <div class="col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="row">
            <h3 class="page-header page-header-sm"><span translate="TITLE_ADMINISTRATION"></span> <small translate="SECTION_USER"></small></h3>

            <table class="table table-striped table-bordered table-condensed" ng-controller="UserController">
                <tr>
                    <th></th>
                    <th translate="LABEL_EMAIL"></th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="user in users">
                    <td><i ng-show="user.token" class="fa fa-user fa-lg"></i></td>
                    <td><div ng-bind-html="user.email"></div></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" ng-click="showDetail(user.id)"><i class="fa fa-eye"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <h3 class="page-header page-header-sm"><small translate="SECTION_RECYCLING"></small></h3>

            <table class="table table-striped table-bordered table-condensed" ng-controller="RecycleController">
                <tr>
                    <th translate="LABEL_USER"></th>
                    <th translate="LABEL_RECYCLE_QUANTITY"></th>
                    <th translate="LABEL_ADDRESS"></th>
                    <th></th>
                    <th translate="LABEL_PICKUP_DATE"></th>
                </tr>
                <tr data-ng-repeat="recycle in recycles">
                    <td>{{recycle.UserId}}</td>
                    <td>{{recycle.quantity}}</td>
                    <td>{{recycle.address}}</td>
                    <td>
                        <i ng-show="recycle.isPickup" class="fa fa-home fa-lg"></i>
                        <i ng-show="!recycle.isPickup" class="fa fa-archive fa-lg"></i>
                    </td>
                    <td>{{recycle.date}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm"><small translate="SECTION_CUSTOMER_FEEDBACK"></small></h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="FeedbackController">
            <tr>
                <th translate="LABEL_USER"></th>
                <th translate="LABEL_COMMENT"></th>
                <th translate="LABEL_RATING"></th>
                <th></th>
            </tr>
            <tr data-ng-repeat="feedback in feedbacks">
                <td>{{feedback.UserId}}</td>
                <td><div ng-bind-html="feedback.comment"></div></td>
                <td>
                    <span uib-rating max="5" ng-model="feedback.rating" read-only="true" class="nowrap"></span>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" ng-click="delete(feedback.id)"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        </table>
        <img src="/public/images/tracking/administration.png"/>
    </div>
</div>
