<div class="row">
    <div class="col-md-8">
        <h3 class="page-header page-header-sm">Your Basket</h3>

        <div ng-controller="BasketController">
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="product in products">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" ng-click="dec(product.basketItem.id)"><span class="glyphicon glyphicon-minus-sign"></span></a>
                            <span class="btn btn-default btn-xs">{{product.basketItem.quantity}}</span>
                            <a class="btn btn-default btn-xs" ng-click="inc(product.basketItem.id)"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </div>
                    </td>
                    <td>{{(product.price*product.basketItem.quantity).toFixed(2)}}</td>
                    <td class="col-md-1">
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" ng-click="delete(product.basketItem.id)"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </td>
                </tr>
            </table>

            <div collapse="couponCollapsed">
                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="error && !form.$dirty">
                    <p>{{error}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="(form.coupon.$error.minlength || form.coupon.$error.maxlength) && form.coupon.$dirty">Coupon code must be 10 characters long.</p>
                </div>

                <div class="container-fluid well">
                    <form role="form" name="form" novalidate>
                        <div class="row">
                            <div class="form-group">
                                <label for="coupon">Coupon</label>
                                <input type="text" class="form-control input-sm" id="coupon" name="coupon" ng-model="coupon" required ng-maxlength="10" ng-minlength="10"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="applyCouponButton" class="btn btn-default" ng-disabled="form.$invalid" ng-click="applyCoupon()">Apply Coupon</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container-fluid well">
                <button type="submit" id="checkoutButton" class="btn btn-default" ng-disabled="products.length < 1" ng-click="checkout()">Checkout</button>
                <a id="collapseCouponButton" class="btn btn-default" ng-click="couponCollapsed = !couponCollapsed"><span class="glyphicon glyphicon-gift"></span></a>
            </div>
        </div>
    </div>
</div>