<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm">Your Basket</h3>

        <div ng-controller="BasketController">
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="product in products">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" ng-click="dec(product.basketItem.id)"><i class="fa fa-minus-square"></i></a>
                            <span class="btn btn-default btn-xs">{{product.basketItem.quantity}}</span>
                            <a class="btn btn-default btn-xs" ng-click="inc(product.basketItem.id)"><i class="fa fa-plus-square"></i></a>
                        </div>
                    </td>
                    <td>{{(product.price*product.basketItem.quantity).toFixed(2)}}</td>
                    <td class="col-md-1">
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs" ng-click="delete(product.basketItem.id)"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            </table>

            <div collapse="couponCollapsed">
                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="error && !form.$dirty">
                    <p>{{error}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="(form.coupon.$error.minlength || form.coupon.$error.maxlength) && form.coupon.$dirty">Coupon code must be 10 characters long.</p>
                </div>

                <div class="container-fluid well">
                    <form role="form" name="form" novalidate>
                        <div class="row">
                            <div class="form-group">
                                <label for="coupon">Coupon</label> <small>(Need a coupon code? <a href="https://twitter.com/search?f=realtime&q=%23juiceshop%20%23coupon" target="_blank">Get one on Twitter</a>!)</small>
                                <input type="text" class="form-control input-sm" id="coupon" name="coupon" ng-model="coupon" required ng-maxlength="10" ng-minlength="10"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="applyCouponButton" class="btn btn-default" ng-disabled="form.$invalid" ng-click="applyCoupon()"><i class="fa fa-diamond fa-lg"></i> Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div collapse="paymentCollapsed">
                <div class="container-fluid well">
                    <div class="row">
                        <label>Payment</label> <small>(I am grateful for tips. Please do not expect any orders to be processed for real, though.)</small>
                    </div>
                    <div class="row">
                        <a href="/redirect?to=https://blockchain.info/address/1FXJq5yVANLzR6ZWfqPKhJU3zWT3apnxmN" target="_blank" class="btn btn-default">
                            <i class="fa fa-qrcode fa-lg"></i> Bitcoin
                        </a>
                        <a href="/redirect?to=https://gratipay.com/bkimminich" target="_blank" class="btn btn-default">
                            <i class="fa fa-gratipay fa-lg"></i> Gratipay
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid well">
                <div class="row">
                    <button type="submit" id="checkoutButton" class="btn btn-primary" ng-disabled="products.length < 1" ng-click="checkout()"><i class="fa fa-cart-arrow-down"></i> Checkout</button>
                    <a id="collapseCouponButton" class="btn btn-default" ng-click="couponCollapsed = !couponCollapsed"><i class="fa fa-gift fa-lg"></i></a>
                    <a id="collapsePaymentButton" class="btn btn-default" ng-click="paymentCollapsed = !paymentCollapsed"><i class="fa fa-credit-card fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>