<div class="row">
    <div class="col-md-8">
        <h3 class="page-header page-header-sm">Best Deals</h3>
        <table class="table table-striped table-bordered table-condensed" ng-controller="ProductController">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="product in products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="showDetail(product.id)"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-default btn-xs" ng-click=""><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>