<div class="modal-header">
    <h3 class="modal-title"><span translate="TITLE_BITCOIN_ADDRESS"></span></h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <qrcode data="bitcoin:1AbKfgvw9psQ41NbLi8kufDQTezwG8DRZm" href="/redirect?to=https://blockchain.info/address/1AbKfgvw9psQ41NbLi8kufDQTezwG8DRZm" size="300"></qrcode>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <small>1AbKfgvw9psQ41NbLi8kufDQTezwG8DRZm</small>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()"><i class="fa fa-arrow-circle-left fa-lg"></i> <span translate="BTN_CLOSE"></span></button>
</div>
