<div class="row">
    <div class="col-md-4">
        <h3 class="page-header page-header-sm">Change Password</h3>

        <div ng-controller="ChangePasswordController">

            <form role="form" name="form" novalidate>

                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="error && !form.$dirty">
                    <p>{{error}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="form.currentPassword.$error.required && form.currentPassword.$dirty">Please provide your current password.</p>
                    <p ng-show="form.newPassword.$error.required && form.newPassword.$dirty">Please provide your new password.</p>
                    <p ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.maxlength) && form.newPassword.$dirty">Password must be 5-20 characters long.</p>
                    <p ng-show="form.newPasswordRepeat.$error.required && form.newPasswordRepeat.$dirty">Please repeat your password.</p>
                </div>

                <div class="container-fluid well">

                        <div class="row">
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control input-sm" id="currentPassword" name="currentPassword" ng-model="currentPassword" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control input-sm" id="newPassword" name="newPassword" ng-model="newPassword" required ng-minlength="5" ng-maxlength="20"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="newPasswordRepeat">Repeat New Password</label>
                                <input type="password" class="form-control input-sm" id="newPasswordRepeat" name="newPasswordRepeat" ng-model="newPasswordRepeat" required/>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group">
                                    <button type="submit" id="changeButton" class="btn btn-default" ng-disabled="form.$invalid" ng-click="changePassword()">Change</button>
                                </div>
                        </div>
                </div>

            </form>
        </div>

    </div>
</div>