<div class="row">
    <div class="col-md-4">
        <h3 class="page-header page-header-sm">Change Password</h3>

        <div ng-controller="ChangePasswordController">

            <div class="alert-danger" ng-show="error">
                <p>{{error}}</p>
            </div>

            <div class="container-fluid well">
                <form role="form" novalidate="">
                    <div class="row">
                        <div class="form-group">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" class="form-control input-sm" id="currentPassword" ng-model="currentPassword" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control input-sm" id="newPassword" ng-model="newPassword" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="newPasswordRepeat">Repeat New Password</label>
                            <input type="password" class="form-control input-sm" id="newPasswordRepeat" ng-model="newPasswordRepeat" required/>
                        </div>
                    </div>
                    <div class="row">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-click="changePassword()">Change</button>
                            </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>