<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h3 class="page-header page-header-sm" translate="TITLE_COMPLAIN"></h3>

        <div>

            <form role="form" name="form" novalidate>
                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="form.complaintMessage.$error.required && form.complaintMessage.$dirty" translate="MANDATORY_MESSAGE"></p>
                    <p ng-show="form.complaintMessage.$error.maxlength && form.complaintMessage.$dirty" translate="INVALID_MESSAGE_LENGTH" translate-value-length="1-160"></p>
                    <p ng-show="form.file.$error.maxSize" translate="INVALID_FILE_SIZE" translate-value-size="100 KB"></p>
                    <p ng-show="form.file.$error.pattern" translate="INVALID_FILE_TYPE" translate-value-type="PDF"></p>
                </div>

                <div class="container-fluid well">

                        <div class="row">
                            <div class="form-group">
                                <label translate="LABEL_CUSTOMER"></label>
                                <label class="form-control input-sm">{{userEmail}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="complaintMessage" translate="LABEL_MESSAGE"></label>
                                <textarea class="form-control input-sm" id="complaintMessage" name="complaintMessage" ng-model="complaint.message" required ng-maxlength="160"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="file" translate="LABEL_INVOICE"></label>
                                <input type="file" ngf-select ng-model="file" id="file" name="file" ngf-pattern="'.pdf'" ngf-accept="'.pdf'" ngf-max-size="100KB"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-bomb fa-lg"></i> <span translate="BTN_SUBMIT"></span></button> {{progress}}
                            </div>
                        </div>
                </div>
             </form>

        </div>

    </div>
</div>