<div class="row">
    <div class="col-md-8">
        <h3 class="page-header page-header-sm">Contact Us</h3>

        <div class="container-fluid well" ng-controller="FeedbackController">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="feedbackComment">Comment</label>
                        <input type="text" class="form-control input-sm" id="feedbackComment"
                               ng-model="feedback.comment">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="feedbackRating">Rating</label>
                        <input type="text" class="form-control input-sm" id="feedbackRating"
                               ng-model="feedback.rating">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-click="save()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>