<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h3 class="page-header page-header-sm" translate="TITLE_CONTACT"></h3>

        <div>

            <form role="form" name="form" novalidate>
                <input type="text" id="userId" ng-model="feedback.UserId" ng-hide="true"/>
                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="form.feedbackComment.$error.required && form.feedbackComment.$dirty" translate="MANDATORY_COMMENT"></p>
                    <p ng-show="form.feedbackComment.$error.maxlength && form.feedbackComment.$dirty" translate="INVALID_COMMENT_LENGTH" translate-value-length="1-160"></p>
                    <p ng-show="form.feedbackRating.$error.required && form.feedbackRating.$dirty" translate="MANDATORY_RATING"></p>
                </div>

                <div class="container-fluid well">

                        <div class="row">
                            <div class="form-group">
                                <label translate="LABEL_AUTHOR"></label>
                                <label class="form-control input-sm">{{userEmail}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="feedbackComment" translate="LABEL_COMMENT"></label>
                                <textarea class="form-control input-sm" id="feedbackComment" name="feedbackComment" ng-model="feedback.comment" required ng-maxlength="160"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label translate="LABEL_RATING"></label>
                                <span uib-rating max="5" name="feedbackRating" ng-model="feedback.rating" required></span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group">
                                    <button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-send fa-lg"></i> <span translate="BTN_SUBMIT"></span></button>
                                </div>
                        </div>
                </div>
             </form>

        </div>

    </div>
</div>