<div class="row">
    <div class="col-md-4">
        <h3 class="page-header page-header-sm">Feedback</h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="FeedbackController">
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Rating</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="feedback in feedbacks">
                <td>{{feedback.UserId}}</td>
                <td>{{feedback.comment}}</td>
                <td>{{feedback.rating}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="delete(feedback.id)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>