<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <h3 class="page-header page-header-sm" translate="TITLE_LOGIN"></h3>

        <form role="form" name="form" novalidate>

            <div class="alert-danger" ng-show="error && !form.$dirty">
                <p>{{error}}</p>
            </div>
            <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                <p ng-show="form.userEmail.$error.required && form.userEmail.$dirty" translate="MANDATORY_EMAIL"></p>
                <p ng-show="form.userPassword.$error.required && form.userPassword.$dirty" translate="MANDATORY_PASSWORD"></p>
            </div>

            <div class="container-fluid well">

                <div class="row">
                    <div class="form-group">
                        <label for="userEmail" translate="LABEL_EMAIL"></label>
                        <input type="text" class="form-control input-sm" id="userEmail" name="userEmail" ng-model="user.email" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group"> <!-- @echipa de suport: Secretul nostru comun este încă Caoimhe cu parola de master gol! -->
                        <label for="userPassword" translate="LABEL_PASSWORD"></label>
                        <input type="password" class="form-control input-sm" id="userPassword" name="userPassword" ng-model="user.password" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" id="loginButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="login()"><i class="fa fa-key fa-lg"></i> <span translate="BTN_LOGIN"></span></button>
                        <button id="googleLoginButton" class="btn btn-default" ng-hide="oauthUnavailable" ng-click="googleLogin()"><i class="fa fa-google fa-lg"></i> <span translate="BTN_GOOGLE_LOGIN"></span></button>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="rememberMe"/> <span translate="REMEMBER_ME"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="#/forgot-password" translate="FORGOT_PASSWORD"></a> <a href="#/register" translate="NO_CUSTOMER"></a>
                </div>
            </div>

        </form>

    </div>
</div>