<div class="modal-header">
    <h3 class="modal-title"><span translate="LABEL_PRODUCT"></span> #{{product.id}}</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <strong translate="LABEL_NAME"></strong>

                <p>{{product.name}}</p>
            </div>
            <div class="col-md-6">
                <strong translate="LABEL_DESCRIPTION"></strong>

                <p><div ng-bind-html="product.description"></div></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong translate="LABEL_PRICE"></strong>

                <p>{{product.price}}</p>
            </div>
            <div class="col-md-6">
                <strong translate="LABEL_IMAGE"></strong>

                <p><img src="/public/images/products/{{product.image}}"/></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()"><i class="fa fa-arrow-circle-left fa-lg"></i> <span translate="BTN_CLOSE"></span></button>
</div>