<div class="modal-header">
    <h3 class="modal-title">Product #{{product.id}}</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <strong>Name</strong>

                <p>{{product.name}}</p>
            </div>
            <div class="col-md-6">
                <strong>Description</strong>

                <p>{{product.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Price</strong>

                <p>{{product.price}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="$close()">Close</button>
</div>