<section>
    <header class="modal-header">
        <h3 class="modal-title"><span translate="{{title}}"></span></h3>
    </header>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <qrcode data="{{data}}" ng-href="{{url}}" size="300"></qrcode>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <small>{{address}}</small>
                </div>
            </div>
        </div>
    </div>
    <footer class="modal-footer">
        <button class="btn btn-default" ng-click="$close()"><i class="fas fa-arrow-circle-left fa-lg"></i> <span translate="BTN_CLOSE"></span></button>
    </footer>
</section>