<div class="modal-header">
    <h3 class="modal-title"><span translate="{{title}}"></span></h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <qrcode data="{{data}}" href="{{url}}" size="300"></qrcode>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <small>{{address}}</small>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()"><i class="fa fa-arrow-circle-left fa-lg"></i> <span translate="BTN_CLOSE"></span></button>
</div>
