<div class="row">

    <div class="col-lg-5 col-lg-offset-2 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm" translate="TITLE_RECYCLE"></h3>

        <div>

            <form role="form" name="form" novalidate>
                <div class="alert-info" ng-show="confirmation && !form.$dirty">
                    <p>{{confirmation}}</p>
                </div>
                <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                    <p ng-show="form.recycleAddress.$error.required && form.recycleAddress.$dirty" translate="MANDATORY_ADDRESS"></p>
                    <p ng-show="(form.recycleAddress.$error.minlength || form.recycleAddress.$error.maxlength) && form.recycleAddress.$dirty" translate="INVALID_ADDRESS_LENGTH" translate-value-length="20-180"></p>
                    <p ng-show="form.recycleQuantity.$error.required && form.recycleQuantity.$dirty" translate="MANDATORY_QUANTITY"></p>
                    <p ng-show="(form.recycleQuantity.$error.min || form.recycleQuantity.$error.max) && form.recycleQuantity.$dirty" translate="INVALID_QUANTITY" translate-value-range="10-1000"></p>
                </div>

                <div class="container-fluid well">
                    <div class="row">
                        <div class="form-group">
                            <label translate="LABEL_REQUESTOR"></label>
                            <label class="form-control input-sm">{{userEmail}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="recycleQuantity" translate="LABEL_RECYCLE_QUANTITY"></label>
                            <input type="number" class="form-control" id="recycleQuantity" name="recycleQuantity" ng-model="recycle.quantity" translate-attr="{ placeholder: 'IN_LITERS_PLACEHOLDER' }" required ng-min="10" ng-max="1000">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="recycleAddress" translate="LABEL_DELIVERY_ADDRESS" ng-show="!recycle.isPickup"></label>
                            <label for="recycleAddress" translate="LABEL_PICKUP_ADDRESS" ng-show="recycle.isPickup"></label>
                            <textarea class="form-control input-sm" rows="4" id="recycleAddress" name="recycleAddress" ng-model="recycle.address" required ng-minlength="20" ng-maxlength="180"></textarea>
                        </div>
                    </div>
                    <div class="row" ng-show="recycle.isPickup && recycle.quantity > 100">
                        <div class="form-group">
                            <label for="recyclePickupDate" translate="LABEL_PICKUP_DATE"></label>
                            <input type="date" class="form-control" id="recyclePickupDate" name="recyclePickupDate" ng-model="recycle.date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="checkbox" ng-show="recycle.quantity > 100">
                                <label>
                                    <input type="checkbox" id="isPickup" name="isPickup" ng-model="recycle.isPickup"/> <span translate="REQUEST_PICKUP"></span>
                                </label>
                            </div>
                            <button type="submit" id="submitButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-send fa-lg"></i> <span translate="BTN_SUBMIT"></span></button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="col-lg-3 col-lg-offset-0 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm"><small translate="SECTION_PRESS_JUICE_RESPONSIBLY"></small></h3>

        <div class="thumbnail">
            <img src="{{topImage}}" width="100">
            <div class="caption">
                <small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</small>
            </div>
        </div>
        <div class="thumbnail">
            <img src="{{bottomImage}}" width="100">
            <div class="caption">
                <small>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small>
            </div>
        </div>
    </div>

</div>