<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <h3 class="page-header page-header-sm" translate="TITLE_REGISTRATION"></h3>

        <form role="form" name="form" novalidate>

            <div class="alert-danger" ng-show="form.$invalid && form.$dirty">
                <p ng-show="form.userEmail.$error.required && form.userEmail.$dirty" translate="MANDATORY_EMAIL"></p>
                <p ng-show="form.userEmail.$error.email && form.userEmail.$dirty" translate="INVALID_EMAIL"></p>
                <p ng-show="form.userPassword.$error.required && form.userPassword.$dirty" translate="MANDATORY_PASSWORD"></p>
                <p ng-show="(form.userPassword.$error.minlength || form.userPassword.$error.maxlength) && form.userPassword.$dirty" translate="INVALID_PASSWORD_LENGTH" translate-value-length="5-20"></p>
                <p ng-show="form.userPasswordRepeat.$error.required && form.userPasswordRepeat.$dirty" translate="MANDATORY_PASSWORD_REPEAT"></p>
                <p ng-show="form.securityQuestion.$error.required && form.securityQuestion.$dirty" translate="MANDATORY_SECURITY_QUESTION"></p>
                <p ng-show="form.securityAnswer.$error.required && form.securityAnswer.$dirty" translate="MANDATORY_SECURITY_ANSWER"></p>
            </div>

             <div class="container-fluid well">

                <div class="row">
                    <div class="form-group">
                        <label for="userEmail" translate="LABEL_EMAIL"></label>
                        <input type="email" class="form-control input-sm" id="userEmail" name="userEmail" ng-model="user.email" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="userPassword" translate="LABEL_PASSWORD"></label>
                        <input type="password" class="form-control input-sm" id="userPassword" name="userPassword" ng-model="user.password" required ng-minlength="5" ng-maxlength="20"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="userPasswordRepeat" translate="LABEL_PASSWORD_REPEAT"></label>
                        <input type="password" class="form-control input-sm" id="userPasswordRepeat" name="userPasswordRepeat" ng-model="user.passwordRepeat" required/>
                    </div>
                </div>
                 <div class="row">
                     <div class="form-group">
                         <label for="securityQuestion" translate="LABEL_SECURITY_QUESTION"></label> <i class="fa fa-exclamation-triangle fa-sm"></i><small translate="CANNOT_BE_CHANGED_LATER"></small>
                         <select class="form-control input-sm" id="securityQuestion" name="securityQuestion" ng-model="user.securityQuestion" ng-options="option.question for option in securityQuestions track by option.id" required/>
                         <input type="text" class="form-control input-sm" id="securityAnswer" name="securityAnswer" ng-model="user.securityAnswer" required/>
                     </div>
                 </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" id="registerButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-user-plus fa-lg"></i> <span translate="BTN_REGISTER"></span></button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>