<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm">Score Board</h3>

        <progressbar animate="false" value="percentChallengesSolved" type="{{completionColor}}"><b>{{percentChallengesSolved}}%</b></progressbar>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Status</th>
            </tr>
            <tr data-ng-repeat="challenge in challenges">
                <td><div ng-bind-html="challenge.description"></div></td>
                <td align="center"><rating max="{{challenge.difficulty}}" ng-model="challenge.difficulty" readonly="true" class="nowrap"></rating></td>
                <td align="center">
                    <span id="{{challenge.name}}.notSolved" ng-show="!challenge.solved" class="label label-danger">unsolved</span>
                    <span id="{{challenge.name}}.solved" ng-show="challenge.solved" class="label label-success">solved</span>
                </td>
            </tr>
        </table>
        <img src="/public/images/tracking/scoreboard.png"/>
    </div>

</div>