<div class="row">
    <section class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm" translate="TITLE_SCORE_BOARD"></h3>

        <uib-progressbar animate="false" value="percentChallengesSolved" type="{{completionColor}}"><b>{{percentChallengesSolved}}%</b></uib-progressbar>

        <div class="container-fluid well">
            <div class="form-group">
                <label translate="LABEL_DIFFICULTY"></label>
                <div class="btn-group">
                    <label ng-repeat="difficulty in [1, 2, 3, 4, 5, 6]" class="btn btn-primary" ng-model="scoreBoardTablesExpanded[difficulty]" ng-click="toggleDifficulty()" uib-btn-checkbox>
                        <span class="fa-4x fa-layers fa-fw">
                            <svg style="fill:url(#{{difficulty}})" class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                <linearGradient ng-attr-id="{{difficulty}}" x1="0" x2="0" y1="0" y2="100%">
                                        <stop ng-attr-offset="{{challenges ? offsetValue[difficulty - 1] : '100%'}}" stop-color="grey"/>
                                        <stop ng-attr-offset="{{challenges ? offsetValue[difficulty - 1] : '100%'}}" stop-color="#FA7D2B"/>
                                </linearGradient>
                                <path fill="{{offsetValue[difficulty - 1] === '0%' ? '#64AA00' : 'inherit'}}"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                </path>
                            </svg>
                            <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-9" style="font-weight:900;">{{difficulty}}</span>
                            <span class="fa-layers-counter"
                             ng-attr-style="background-color:{{((challenges|filter: {difficulty: difficulty, solved: true}).length === (challenges|filter: {difficulty: difficulty}).length ? '#62c462' : (challenges|filter: {difficulty: difficulty, solved: true}).length === 0 ? '#ee5f5b' : '#f89406')}}">
                                {{(challenges|filter: {difficulty: difficulty, solved: true}).length + '/' + (challenges|filter: {difficulty: difficulty}).length}}
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div ng-repeat="difficulty in [1, 2, 3, 4, 5, 6]">
            <section uib-collapse="!scoreBoardTablesExpanded[difficulty]" class="container-fluid well">
                <h3>
                    <span uib-rating ng-model="difficulty" max="{{difficulty}}" read-only="true" class="nowrap"></span>
                </h3>
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th translate="LABEL_NAME"></th>
                        <th translate="LABEL_DESCRIPTION"></th>
                        <th translate="LABEL_STATUS"></th>
                    </tr>
                    <tr data-ng-repeat="challenge in challenges | filter: {difficulty: difficulty} | orderBy: 'name'">
                        <td style="white-space: nowrap"><div ng-bind="challenge.name"></div></td>
                        <td style="width:100%"><div ng-bind-html="challenge.description"></div></td>
                        <td class="text-center">
                            <span ng-show="!challenge.solved" id="{{challenge.name}}.notSolved" class="label label-danger" ng-click="openHint(challenge)" ng-class="{ 'label-button': showChallengeHints && challenge.hintUrl }" uib-tooltip="{{ showChallengeHints ? challenge.hint : null }}">
                                <i class="fas fa-book" aria-hidden="true" ng-show="showChallengeHints && (challenge.hint || challenge.hintUrl)"></i>
                                <span translate="STATUS_UNSOLVED"></span>
                            </span>
                            <span ng-show="challenge.solved" id="{{challenge.name}}.solved" class="label label-success" ng-click="repeatNotification(challenge)" ng-class="{ 'label-button': allowRepeatNotifications }" uib-tooltip="{{ allowRepeatNotifications ? ('NOTIFICATION_RESEND_INSTRUCTIONS' | translate) : null }}">
                                <i class="far fa-flag" aria-hidden="true" ng-show="allowRepeatNotifications"></i>
                                <span translate="STATUS_SOLVED"></span>
                            </span>
                        </td>
                    </tr>
                </table>
            </section>
        </div>

        <footer class="alert alert-info" translate="CALL_FOR_CONTRIBUTIONS" translate-value-gitter='<a href="http://gitter.im/bkimminich/juice-shop"><i class="fab fa-gitter"></i>Gitter.im</a>' translate-value-github='<a href="https://github.com/bkimminich/juice-shop/issues"><i class="fab fa-github"></i>GitHub</a>'></footer>

        <img src="/public/images/tracking/scoreboard.png"/>
    </section>


</div>
