<div class="row">
    <div class="col-md-6">
        <h3 class="page-header page-header-sm">Score Board</h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="ChallengeController">
            <tr>
                <th>Description</th>
                <th>Solved?</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="challenge in challenges">
                <td>{{challenge.description}}</td>
                <td>{{challenge.solved}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" href="{{challenge.link}}"><span class="glyphicon glyphicon-globe"></span></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
</div>