<div class="row">
    <div class="col-md-8">
        <h3 class="page-header page-header-sm">Search Results <span class="label label-default" ng-bind-html="searchQuery"></span></h3>

        <table class="table table-striped table-bordered table-condensed" ng-controller="SearchResultController">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="product in products">
                <td>{{product.name}}</td>
                <td><div ng-bind-html="product.description"></div></td>
                <td>{{product.price}}</td>
                <td class="col-md-1">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="showDetail(product.id)"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-default btn-xs" ng-click="addToBasket(product.id)" ng-show="isLoggedIn()"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>