<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h3 ng-show="searchQuery" class="page-header page-header-sm"><span translate="TITLE_SEARCH_RESULTS"></span> <span class="label label-default" ng-bind-html="searchQuery"></span></h3>
        <h3 ng-show="!searchQuery" class="page-header page-header-sm" translate="TITLE_ALL_PRODUCTS"></h3>

        <div class="alert-info" ng-show="confirmation">
            <p>{{confirmation}}</p>
        </div>

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th translate="LABEL_IMAGE"></th>
                <th translate="LABEL_PRODUCT"></th>
                <th translate="LABEL_DESCRIPTION"></th>
                <th translate="LABEL_PRICE"></th>
                <th></th>
            </tr>
            <tr data-ng-repeat="product in products">
                <td><img src="/public/images/products/{{product.image}}" class="img-responsive img-thumbnail" style="width: 200px" ng-click="showDetail(product.id)"/></td>
                <td>{{product.name}}</td>
                <td><div ng-bind-html="product.description"></div></td>
                <td>{{product.price}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" ng-click="showDetail(product.id)"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-default btn-xs" ng-click="addToBasket(product.id)" ng-show="isLoggedIn()"><i class="fa fa-cart-plus"></i></a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>