<div class="row">

    <section class="col-lg-5 col-lg-offset-2 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm"><span translate="TITLE_TOKENSALE"></span> <small translate="SECTION_ICO" translate-value-juicycoin="<span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span>"></small></h3>

        <section class="container-fluid well">
            <div class="row">
                <label translate="SECTION_WHITEPAPER"></label>
                <small>(<span translate="WHITEPAPER_REFERENCES"></span>)</small>
            </div>
            <div class="row">
                <a href="https://ponzico.win/ponzico.pdf" target="_blank" class="btn btn-success">
                    <i class="fas fa-university fa-lg"></i> PonzICO Whitepaper
                </a>
                <a href="https://www.sec.gov/investor/alerts/ia_virtualcurrencies.pdf" target="_blank" class="btn btn-success">
                    <i class="fas fa-graduation-cap fa-lg"></i> PonziCoin Whitepaper
                </a>
            </div>
        </section>

        <section>
            <h3 class="page-header page-header-sm"><small translate="SECTION_SALES_PITCH"></small></h3>
            <p class="text-justify">
                Lorem ipsum dolor sit amet <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                <span translate="GIVE_US_ALL_YOUR_MONEY"></span>

                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                <span translate="GIVE_US_ALL_YOUR_MONEY"></span>

                Ut wisi enim ad minim veniam, quis <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

                <span translate="GIVE_US_ALL_YOUR_MONEY"></span>

                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

                <span translate="GIVE_US_ALL_YOUR_MONEY"></span>

                Duis autem vel eum <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.

                <span translate="GIVE_US_ALL_YOUR_MONEY"></span>

                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.
            </p>
        </section>
    </section>

    <aside class="col-lg-3 col-lg-offset-0 col-sm-10 col-sm-offset-1">
        <h3 class="page-header page-header-sm"><small translate="ICO_FAQ"></small></h3>

        <div class="thumbnail">
            <label><i class='fas fa-comments fa-2x'></i> Stet <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> clita kasd gubergren?</label>
            <div class="caption">
                <small>Stet clita kasd gubergren, no <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</small>
            </div>
        </div>
        <div class="thumbnail">
            <label><i class='far fa-comment-alt fa-2x'></i> Consetetur sadipscing elitr?</label>
            <div class="caption">
                <small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</small>
            </div>
        </div>
        <div class="thumbnail">
            <label><i class='far fa-comments fa-2x'></i> Hendrerit <span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span> in vulputate velit?</label>
            <div class="caption">
                <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</small>
            </div>
        </div>
        <div class="thumbnail">
            <label><i class='fas fa-comment-alt fa-2x'></i> Justo duo dolores et ea rebum?</label>
            <div class="caption">
                <small>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</small>
            </div>
        </div>
        <div class="thumbnail">
            <label><i class='fas fa-comments fa-2x'></i> <span translate="ICO_FAQ_QUESTION" translate-value-juicycoin="<span class='badge'><i class='fab fa-bitcoin'></i> {{altcoinName}}</span>"></span></label>
            <div class="caption">
                <small translate="ICO_FAQ_ANSWER"></small>
            </div>
        </div>
    </aside>

    <img src="/public/images/tracking/tokensale.png"/>
</div>