<div class="row">
    <section class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <h3 class="page-header page-header-sm" translate="TITLE_TRACK_ORDERS"></h3>

        <div>

            <form role="form" name="form" novalidate>

                <div class="container-fluid well">

                        <div class="row">
                            <div class="form-group">
                                <label for="orderId" translate="LABEL_ORDER_ID"></label>
                                <input class="form-control input-sm" id="orderId" name="orderId" ng-model="orderId" required/>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group">
                                    <button type="submit" id="trackButton" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()"><i class="fas fa-map-marker fa-lg"></i> <span translate="BTN_TRACK"></span></button>
                                </div>
                        </div>
                </div>

            </form>
        </div>

    </section>
</div>