<div class="modal-header">
    <h3 class="modal-title">User #{{user.id}}</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <strong>Email</strong>

                <p>{{user.email}}</p>
            </div>
            <!--<div class="col-md-6" ng-show="user.password">
                <strong>Password</strong>

                <p>{{user.password}}</p>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Created at</strong>

                <p>{{user.createdAt}}</p>
            </div>
            <div class="col-md-6">
                <strong>Updated at</strong>

                <p>{{user.updatedAt}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()"><i class="glyphicon glyphicon-circle-arrow-left"></i> Close</button>
</div>