<div class="modal-header">
    <h3 class="modal-title"><span translate="LABEL_USER"></span> #{{user.id}}</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <strong translate="LABEL_EMAIL"></strong>

                <p>{{user.email}}</p>
            </div>
            <!--<div class="col-md-6" ng-show="user.password">
                <strong translate="LABEL_PASSWORD"></strong>

                <p>{{user.password}}</p>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong translate="LABEL_CREATED_AT"></strong>

                <p>{{user.createdAt}}</p>
            </div>
            <div class="col-md-6">
                <strong translate="LABEL_UPDATED_AT"></strong>

                <p>{{user.updatedAt}}</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close()"><i class="fa fa-arrow-circle-left fa-lg"></i> <span translate="BTN_CLOSE"></span></button>
</div>