<div class="playground-header">
  <div class="metamask-button">
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="handleAuth()"
    >
      <span *ngIf="!session">Connect your MetaMask</span>
      <span *ngIf="session"
        >{{ userData.address.substring(0, 6) }}...{{
          userData.address.slice(-6)
        }}</span
      >
    </button>
  </div>
</div>

<div class="section-1 mat-elevation-z6">
  <div class="section-1_body">
    <div class="section-1_body_left">
      <div>
        <div class="section-1_body_left_editor_title">
          Juice Shop Funds Contract
        </div>
        <ngx-codemirror
          [(ngModel)]="vulnerableContract"
          [options]="editorDisabledOptions"
        ></ngx-codemirror>
      </div>
      <div>
        <div class="section-1_body_left_editor_title">
          Transfer Money Contract
        </div>
        <ngx-codemirror
          [(ngModel)]="code"
          [options]="editorOptions"
        ></ngx-codemirror>
      </div>
    </div>
    <div class="section-1_body_right">
      <h1>Try and Own Me</h1>
      <h5>
        Edit the contract on the right(Attacker Contract) to somehow own the
        funds in the main deployed contract.
      </h5>
      <div class="deployedaddresstext" *ngIf="deployedContractAddress">
        Contract Address: {{ deployedContractAddress }}
      </div>
      <button type="button" (click)="transferEthToContract()">
        Deploy Contract
      </button>
    </div>
  </div>
</div>
<div class="section-1 mat-elevation-z6">
  <div class="section-1_body">
    <div class="section-1_body_left">
      <div>
        <div class="section-1_body_left_editor_title">
          Guess the Hidden Random Number
        </div>
        <ngx-codemirror
          [(ngModel)]="randomNumberContract"
          [options]="editorOptions"
        ></ngx-codemirror>
      </div>
    </div>
    <!-- <div class="section-1_body_right">
      <h1>Try and Own Me</h1>
      <h5>
        Edit the contract on the right(Attacker Contract) to somehow own the
        funds in the main deployed contract.
      </h5>
      <div class="deployedaddresstext" *ngIf="deployedContractAddress">
        Contract Address: {{ deployedContractAddress }}
      </div>
      <button type="button" (click)="compileAndDeployCode(code)">
        Deploy Contract
      </button>
    </div> -->
  </div>
</div>
<div class="section-1 mat-elevation-z6">
  <div class="section-1_body">
    <div class="section-1_body_left">
      <div>
        <div class="section-1_body_left_editor_title">
          Guess the Randomly Generated Number
        </div>
        <ngx-codemirror
          [(ngModel)]="randomNewNumberContract"
          [options]="editorOptions"
        ></ngx-codemirror>
      </div>
    </div>
    <!-- <div class="section-1_body_right">
      <h1>Try and Own Me</h1>
      <h5>
        Edit the contract on the right(Attacker Contract) to somehow own the
        funds in the main deployed contract.
      </h5>
      <div class="deployedaddresstext" *ngIf="deployedContractAddress">
        Contract Address: {{ deployedContractAddress }}
      </div>
      <button type="button" (click)="compileAndDeployCode(code)">
        Deploy Contract
      </button>
    </div> -->
  </div>
</div>
