mat-card {
  height: auto;
  margin-top: 50px;
  min-width: 300px;
  width: 35%;
}

mat-form-field {
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;

}

.security-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

::ng-deep mat-option .mat-option-text {
  font-size: 14px;
}
