mat-card {
  height: auto;
  min-width: 320px;
  width: 30%;
}

mat-form-field {
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#submitButton {
  margin-left: 20%;
  margin-top: 30px;
  width: 60%;
}
