name: SonarQubeAudit
on:
  push:
    branches:
      - master
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Importante para el análisis de Churn

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm' # Habilita caché para acelerar futuras ejecuciones

      - name: Install Dependencies
        run: npm install --legacy-peer-deps #--ignore-scripts # Instalación rápida

      - name: Run All Tests (Frontend & Backend)
        run: |
          export CHROME_BIN=/usr/bin/google-chrome
          npm test -- --browsers=ChromeHeadless --watch=false || echo "Algunos tests fallaron, continuando con el análisis..."

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=dacaslles_juice-shop
            -Dsonar.organization=dacaslles
            -Dsonar.sources=app.ts,server.ts,lib,models,routes,frontend/src,test
            -Dsonar.exclusions=data/**,**/node_modules/**,**/dist/**,**/*.json,cypress/**
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info,frontend/coverage/lcov.info