name: secrets
on:
  push: { branches: ["**"] }
  pull_request: { branches: ["main"] }
jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: trufflesecurity/trufflehog@v3
        with:
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
