on:
  schedule:
    - cron:  '0 18 * * *'

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan ZAP website
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'https://demo.owasp-juice.shop'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
